/* ------------ about --------------- */
section-3 {    
    display: flex;
    align-items: center;
	min-height: 100vh;
	padding-top: 94px;	
	background-color: $blue-grey;
}

.block-about  {
	display: flex;
	align-items: center;    
}

.block-left {
	&__foto-about {
		position: relative;
	    overflow: hidden;
	    width: 550px;
	    height: 550px;
	    border-radius: 50%;
	}
}

.table-foto-about {
	width: 100%;
	margin-top: -100px;
}

.block-right {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__title-about {
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
		padding-top: 25px;
		@extend h2;
		color: $orange;
	}
	&__subtitle-about{
		display: flex;
		justify-content: center;
		@extend h2;
		font-size: 26px;
		color: $white;
		margin-bottom: 38px;
		margin-top: 50px;
	}
	&__block-left {
		display: none;
		&_foto-about {
			position: relative;
		    overflow: hidden;
		    width: 550px;
		    height: 550px;
		    border-radius: 50%;
		}
	}
	&__text-about {
		text-align: justify;
		color: $white;
		padding-left: 40px;
		margin-bottom: 82px;
		&_span-about {			
			@extend a;
			color: $orange;
			cursor: pointer;
		}
	}
	&__box-botton-about{
		display: flex;
		justify-content: center;
	}
}

.button-about {
	display: flex;
	justify-content: center;	
	@extend button;		
	background-color: $white;
	border: 1px solid $orange;
	&:hover {
		background-color: $orange;
		border: 1px solid $orange;
	}
	a {
		color: $orange;
		&:hover {
			color: $white;
		}
	}
	&_btn {
		padding: 20px 54px;					
	}
}


/* ------ media query ------ */
@include desktop {
	.block-about  {
		display: flex;
		justify-content: space-around;
	    padding-top: 0;
	}
	.block-left {
		padding-top: 36px;
		&__foto-about {
			width: 400px;
    		height: 400px;		
		}
	}
	.block-right {
		width: 50%;
		&__title-about {
		}
		&__subtitle-about{
			margin-top: 0;
			margin-bottom: 0;
		}
		&__block-left {
			&_foto-about {
			}
		}
		&__text-about {
			padding-top: 32px;
			margin-bottom: 30px;
			&_span-about {			
			}
		}
		&__box-botton-about{
		}
	}
	.button-about {
		a {
			font-size: 16px;
		}
		&_btn {
			padding: 15px 30px;					
		}
	}	
}
@include laptop {
	.block-about  {
		display: flex;
		justify-content: space-around;
	    padding-top: 110px;
	}
	.block-left {
		padding-top: 36px;
		&__foto-about {
			width: 400px;
    		height: 400px;		
		}
	}
	.block-right {
		width: 50%;
		&__title-about {
		}
		&__subtitle-about{
			margin-top: 0;
			margin-bottom: 0;
		}
		&__block-left {
			&_foto-about {
			}
		}
		&__text-about {
			padding-top: 32px;
			margin-bottom: 30px;
			&_span-about {			
			}
		}
		&__box-botton-about{
		}
	}
	.button-about {
		a {
			font-size: 16px;
		}
		&_btn {
			padding: 15px 30px;					
		}
	}
}

@include iPadPro-portrait {
	.block-about  {
	    padding-top: 0;
	}
	.block-left {
		display: none;
		&__foto-about {		
		}
	}
	.block-right {
		&__title-about {
		}
		&__subtitle-about{
			margin-top: 0;
			margin-bottom: 45px;
		}
		&__block-left {
			display: block;
			&_foto-about {
			    width: 350px;
			    height: 350px;
			}
		}
		&__text-about {
			width: 100%;
			padding-left: 0px;
			padding-top: 32px;
			margin-bottom: 52px;
			&_span-about {			
			}
		}
		&__box-botton-about{
		}
	}
	.table-foto-about {
		margin-top: -70px;
	}
}

@include iPadPro-landscape {
}

@include tablet {
	.block-about  {
		display: flex;
		justify-content: space-around;
	    padding-top: 0;
	}
	.block-left {
		display: none;
		&__foto-about {		
		}
	}
	.block-right {
		&__title-about {
		}
		&__subtitle-about{
			margin-top: 0;
		}
		&__block-left {
			display: block;
			&_foto-about {
			    width: 350px;
			    height: 350px;
			}
		}
		&__text-about {
			width: 70%;
			padding-top: 32px;
			margin-bottom: 36px;
			&_span-about {			
			}
		}
		&__box-botton-about{
		}
	}
	.table-foto-about {
		margin-top: -70px;
	}
}


@include iPad-landscape {
	.block-about  {
		display: flex;
		justify-content: space-around;
	    padding-top: 0;
	}
	.block-left {
		padding-top: 36px;
		&__foto-about {
			width: 400px;
    		height: 400px;		
		}
	}
	.block-right {
		width: 50%;
		&__title-about {
			padding-top: 0;
		}
		&__subtitle-about{
			margin-top: 0;
			margin-bottom: 0;
		}
		&__block-left {
			&_foto-about {
			}
		}
		&__text-about {
			padding-top: 32px;
			margin-bottom: 30px;
			&_span-about {			
			}
		}
		&__box-botton-about{
		}
	}
	.button-about {
		a {
			font-size: 16px;
		}
		&_btn {
			padding: 15px 30px;					
		}
	}
}

@include iPad-portrait {
	.block-about  {
		display: flex;
		justify-content: space-around;
	    padding-top: 0;
	}
	.block-left {
		display: none;
		&__foto-about {		
		}
	}
	.block-right {
		&__title-about {
		}
		&__subtitle-about{
			margin-top: 0;
		}
		&__block-left {
			display: block;
			&_foto-about {
			    width: 300px;
			    height: 300px;
			}
		}
		&__text-about {
			width: 80%;
			padding-top: 32px;
			margin-bottom: 36px;
			padding-left: 0;
			&_span-about {			
			}
		}
		&__box-botton-about{
		}
	}
	.table-foto-about {
		margin-top: -70px;
	}
}

@include iphone {
	.block-about  {
		display: flex;
		justify-content: space-around;
	    padding-top: 90px;
	}
	.block-left {
		display: none;
		&__foto-about {		
		}
	}
	.block-right {
		&__title-about {
		}
		&__subtitle-about{
			margin-top: 0;
		}
		&__block-left {
			display: block;
			&_foto-about {
			    width: 350px;
			    height: 350px;
			}
		}
		&__text-about {
			width: 70%;
			padding-top: 32px;
			margin-bottom: 36px;
			&_span-about {			
			}
		}
		&__box-botton-about{
		}
	}
	.table-foto-about {
		margin-top: -70px;
	}
}
@include phone {
	.block-about  {
		display: flex;
		justify-content: space-around;
	    padding-top: 90px;
	}
	.block-left {
		display: none;
		&__foto-about {		
		}
	}
	.block-right {
		&__title-about {
		}
		&__subtitle-about{
			margin-top: 0;
		}
		&__block-left {
			display: block;
			&_foto-about {
			    width: 350px;
			    height: 350px;
			}
		}
		&__text-about {
			width: 70%;
			padding-top: 32px;
			margin-bottom: 36px;
			&_span-about {			
			}
		}
		&__box-botton-about{
		}
	}
	.table-foto-about {
		margin-top: -70px;
	}
}

/* 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  } 

 */