/* ------------ blog --------------- */
section-6 {
	display: none;
	display: flex;
    flex-direction: column;
    padding-top: 94px;
    min-height: 100vh;
}

.blog-wrap {
	display: flex;
	flex-direction: column;	
}

.blog-title {
	display: flex;
    flex-direction: column;
    align-items: center;
    &__topic-blog {
    	margin-top: 64px;
    	margin-bottom: 38px;
		@extend h2;
    }
    &__topic-text {
		font-size: 25px;
	    width: 40%;
    	text-align: center;
    }
}

.article {
	display: flex;	
}

/* ------ media query ------ */
@include desktop {	
}
@include laptop {
}
@include tablet {
}
@include iphone {
}
@include phone {
}

/* 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  } 

 */