/* ------------ characteristics-mini --------------- */
#characteristics-mini {
	display: flex;
    align-items: center;
	padding-top: 94px;
    min-height: 100vh;
} 
.product-wrap {
	display: flex;
	flex-direction: column;
}

.product {
	display: flex;
	justify-content: center;
	margin-bottom: 90px;
	&__product-title {
		@extend  h2;
	}	
}

.product-contain {
	display: flex;
}

.product-images {
	display: flex;
    flex-direction: column;
	&__picture {
    	&_product-image {
		}
	}	
}


.characteristic-list {
	display: flex;
    flex-direction: column;
	&__product-characteristic {
		display: flex;
		margin-bottom: 7px;
	}
}


.character {
	display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

/* ------ media query ------ */
@include television {
	.product {
		&__product-title {
			font-size: 32px;
		}	
	}
}
@include desktop {	
}

/*@include iPadPro-portrait {
	.product-contain {
		flex-direction: column;
	}
	.product-images {
		display: flex;
	    flex-direction: row;
	    justify-content: space-around;
	    padding-bottom: 50px;
		&__picture {
			width: 34%;
			height: 230px;
	    	&_product-image {
				width: 100%;
				position: absolute;
				margin-top: -130px;
			}
		}	
	}
}
@include iPad-landscape {	
	.product-images {
		max-width: 40%;
		&__picture {
			width: 50%;
			height: 116px;
			margin-left: 30px;
	    	&_product-image {
	    		width: 100%;
				margin-top: -82px;
			}
		}	
	}
	.product {
		margin-bottom: 50px;
		&__product-title {
			font-size: 36px;
		}	
	}
	.characteristic-list {
		&__product-characteristic {
			font-size: 12px;
			padding: 0;
		}
	}
	.character {
		padding: 0;
	}
}

@include iPad-portrait {
	.product-contain {
		flex-direction: column;
	}
	.product-images {
		display: flex;
	    flex-direction: row;
	    justify-content: space-around;
	    padding-bottom: 0;
		&__picture {
			width: 34%;
			height: 190px;
	    	&_product-image {
				width: 100%;
				position: absolute;
				margin-top: -90px;
			}
		}	
	}
	.product {
		margin-bottom: 30px;
		&__product-title {
			font-size: 36px;
		}	
	}
}*/
@include laptop {
	.product-contain {
		flex-direction: row;
	}
	.product {
		margin-bottom: 80px;			
	}
	.product-images {
		flex-direction: column;
	&__picture {
		width: 70%;
		margin-left: 30px;
    	&_product-image {
			
		}
	}	
}
}
@include tablet {
	.product-images {
		max-width: 100%;		
	}	
	.characteristic-list {
		max-width: 100%;		
	}

}

@include tablet-mini {
	.product {
		margin-bottom: 30px;
		&__product-title {
			font-size: 28px;
		}	
	}
	.product-contain {
		flex-direction: column;
	}
	.product-images {
		max-width: 100%;
	    flex-direction: row;
	    justify-content: space-around;
	    padding-bottom: 0;
		&__picture {
	    	&_product-image {
	    		width: 90%;
	    		height: 90%;
			}
		}	
	}
	.characteristic-list {
		max-width: 100%;		
	}
	.character {
		line-height: 1.2;
	}
}
@include phone {
	.product {
		margin-bottom: 10px;
		&__product-title {
			font-size: 20px;
		}	
	}
	.product-contain {
		flex-direction: column;
	}
	.product-images {
		max-width: 100%;
	    flex-direction: row;
	    justify-content: space-around;
	    padding-bottom: 10px;
		&__picture {
			//width: 50%;
			//height: 70px;
	    	&_product-image {
	    		width: 100%;
			}
		}	
	}
	.characteristic-list {
		max-width: 100%;		
	}
	.character {
		font-size: 12px;
		line-height: 1.2;
	}
	.character-min {
		width: 50%;
	}
}
/*@include iphone-X {
	.product {
		margin-bottom: 10px;
		&__product-title {
			font-size: 20px;
		}	
	}
	.product-contain {
		flex-direction: column;
	}
	.product-images {
		max-width: 100%;
	    flex-direction: row;
	    justify-content: space-around;
	    padding-bottom: 10px;
		&__picture {
			width: 50%;
			height: 70px;
	    	&_product-image {
	    		margin-top: -20px;
			}
		}	
	}
	.characteristic-list {
		max-width: 100%;		
	}
	.character {
		font-size: 12px;
		line-height: 1.2;
	}
	.character-min {
		width: 50%;
	}
}
@include iphone-X-portrait {
}
@include iphone-X-landscape {
}*/
@include iphone-5 {
	.product {
		margin-bottom: 10px;
		&__product-title {
			font-size: 20px;
		}	
	}
	.product-contain {
		flex-direction: column;
	}
	.product-images {
		max-width: 100%;
	    flex-direction: row;
	    justify-content: space-around;
	    padding-bottom: 10px;
		&__picture {
			//width: 50%;
			//height: 70px;
	    	&_product-image {
	    		width: 100%;
	    		//margin-top: -20px;
			}
		}	
	}
	.characteristic-list {
		max-width: 100%;		
	}
	.character {
		font-size: 12px;
		line-height: 1.2;
	}
	.character-min {
		width: 57%;
	}
}


 