$purpur: #431c43;
$black: #000000;
$white: #ffffff;
$yellow: #d6af18;
$purpur-light: #8e86ac;
$purpur-pink: #875c78;
$purpur-extra-light: #ebebf4;
$purpur-dark: #312a31;
$purpur-grey: #5d565d;
$light: #fafafd;
$shadow: rgba(43, 46, 102, 0.2);
$white-opacity: rgba(255, 255, 255, 0.10);