$purpur: #431c43;
$black: #000000;
$white: #ffffff;
$yellow: #d6af18;
$purpur-light: #8e86ac;
$purpur-pink: #875c78;
$purpur-extra-light: #ebebf4;
$purpur-dark: #312a31;
$purpur-grey: #5d565d;
//$light: #fafafd;
$shadow: rgba(43, 46, 102, 0.2);
$white-opacity: rgba(255, 255, 255, 0.10);
$blue-light:#566ca5;
$blue-dark: #1b255d;
$orange: #f29257;
$orange-light: #ffd0b3;
$red-dark: #cb3d00;
$red-link: #ff9571;
$blue-grey: #828893;
$grey-blue: #374362;
$green: #16943f;
$grey-opacity: rgba(130, 136, 147, 0.3);