/* ------------ footer --------------- */
footer {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
    position: relative;
	background-color: $blue-grey;
	padding-top: 160px;
	@media (min-width: 1440px) and (max-width: 1599.98px) {
	 	padding-top: 94px;
	}
	min-height: 100vh;
}

.footer-block {
	display: flex;
    flex-direction: column;
}

.form-contact {
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
	&__form-title {		
    	margin-top: 46px;
	    margin-bottom: 44px;
	    line-height: 1.1;
	    @extend  h2;
		color: $orange;
	}
	&__form-content {
	    width: 43%;
	    display: flex;
	    flex-direction: column;
	    align-items: center;    	
		&_form-name {
			outline: none;			
			margin-bottom: 24px;
			padding: 10px 0 10px 27px;
		}
		&_form-email {
			outline: none;
			margin-bottom: 24px;
		    padding: 10px 0 10px 27px;
		}
		&_form-message {
			outline: none;
			margin-bottom: 42px;
		    padding: 10px 0 51px 27px;
		}
		&_form-submit {
			outline: none;
			margin-bottom: 140px;
			@media (min-width: 1440px) and (max-width: 1599.98px) {
    			margin-bottom: 40px;
 			}
			padding: 16px 40px;
			@extend button;
			background-color: $white;
			border: 1px solid $orange;
			&:hover {
				background-color: $orange;
				border: 1px solid $orange;
			}
			a {
				color: $orange;
				&:hover {
					color: $white;
				}
			}
		}
	}
}


	

.footer-wrap {
    display: flex;
    color: $white;
    margin-bottom: 20px;
	
	&__menu-footer {
	    display: flex;
	    flex-direction: column;
		padding: 0;
		padding-left: 20px;
		&_title-menu {
			font-size: 18px;
		}
		&_vertical-menu {
		    padding-left: 0;
		    //margin-top: 17px;
			@extend ul;
			&_link-group {
				a {
					@extend a;
					font-weight: $regular;
					&:hover {
			  			border-bottom: none;
			  			color: $white;
			  			opacity: 0.5;
					}				
				}				
			}
		}
	}
	&__footer-contact {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    padding: 0;	    
	    &_topic-contact {
    	    padding-bottom: 10px;
	    }
	    &_footer-email {
	    	    margin-bottom: 38px;
	    	a {
				@extend a;
				font-weight: $regular;
				&:hover {
		  			border-bottom: none;
		  			color: $blue-dark;
		  			opacity: 0.5;
				}				
			}
	    }	    
	    &_social-web {
	    	//@extend .social-web;
		    //width: 28%;
		    color: $orange;
		    display: flex;
		    &_topic-social {
		    	color: $white;
		    	margin-bottom: 8px;
		    	margin-right: 6px;
		    }
	    }
	}
	&__logotype-small {
		font-size: 23px;
		font-weight: $bold;
		display: flex;
	    justify-content: flex-end;
	    padding-right: 20px;
	    align-items: flex-start;
    	padding-bottom: 39px;
    }	
}

.fa-instagram {
	color: $orange;
}

.footer-bottom {
    display: flex;
    bottom: 20px;
    position: absolute;
    width: 100%;
    font-size: 14px;
	color: $white;
	opacity: 0.7;
	&__footer-copyright {
		width: 100%;
		display: flex;
    	justify-content: center;
    	border-top: 1px solid white;
    	padding-top: 6px;
	}
}

.button-up {
	position: absolute;
    z-index: 3;
    right: 38px;
    bottom: 70px;
}

.fa-chevron-circle-up {	
	color: $orange;
	opacity: 0.95;	
    &:hover {
	    opacity: 0.7;
	    cursor: pointer;
    }
}

.footer-line {
	position: absolute;
    z-index: 3;
    width: 100%;
    border-bottom: 1px solid $white-opacity;
}


/* ------ media query ------ */
@include television {
	footer {
		padding-top: 94px;
	}
	.form-contact {
		&__form-title {		
	    	margin-top: 20px;
		    margin-bottom: 20px;
		    font-size: 36px;
		}
		&__form-content {
			&_form-name {
			}
			&_form-email {
			}
			&_form-message {
				margin-bottom: 36px;
			    padding: 10px 0 40px 27px;
			}
			&_form-submit {
				outline: none;
				margin-bottom: 60px; 			
			}
		}
	}
}
@include iPadPro-landscape {
	.form-contact {
		&__form-title {		
	    	margin-top: 20px;
		    margin-bottom: 40px;
		    font-size: 26px;
		}
		&__form-content {
			&_form-name {
			}
			&_form-email {
			}
			&_form-message {
				margin-bottom: 70px;
			    padding: 10px 0 70px 27px;
			}
			&_form-submit {
				outline: none;
				margin-bottom: 140px; 			
			}
		}
	}
}
@include desktop {
	footer {
		padding-top: 94px;
	}
	.form-contact {
		&__form-title {		
	    	margin-top: 30px;
		    margin-bottom: 20px;
		    font-size: 36px;
		}
		&__form-content {
			&_form-name {
			}
			&_form-email {
			}
			&_form-message {
				margin-bottom: 36px;
			    padding: 10px 0 40px 27px;
			}
			&_form-submit {
				margin-bottom: 60px; 			
			}
		}
	}
}
@include laptop {
}
@include iPad-landscape {
	footer {
		padding-top: 94px;
	}
	.form-contact {
		&__form-title {		
	    	margin-top: 30px;
		    margin-bottom: 20px;
		    font-size: 36px;
		}
		&__form-content {
			&_form-name {
			}
			&_form-email {
			}
			&_form-message {
				margin-bottom: 36px;
			    padding: 10px 0 40px 27px;
			}
			&_form-submit {
				padding: 12px 30px;
				margin-bottom: 30px;
				a {
					font-size: 14px;
				}			 			
			}
		}
	}
}
@include tablet {
}
@include iPad-portrait {
	footer {
		justify-content: center;
		padding-top: 0;
	}
	.form-contact {
		&__form-content {			
			&_form-submit {
				margin-bottom: 80px; 			
			}
		}	
	}
}
@include iphone {
}
@include phone {
}

/* 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  } 

 */