/* ------------ fotogallery --------------- */
section-5 {
	display: none;
	display: flex;
    align-items: center;
    padding-bottom: 45px;
}

.fotogallery-wrap {
	display: flex;
	flex-direction: column;	
    margin-top: 90px;
}

.fotogallery-title {
	display: flex;
    flex-direction: column;
    align-items: center;
    &__topic-text {
        @extend h3;
        color: $blue-dark;
        font-weight: $medium-plus;
	    width: 45%;
    	text-align: center;
        padding-bottom: 50px;
    }
}

.fotogallery-gallery {    
	display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 65%;
        border: 1px solid rgba(130, 136, 147, 0.3);
        border-radius: 5px;
        margin-bottom: 70px;

    }
    
}



/* ------ media query ------ */
@include desktop {
    .fotogallery-gallery {
     img {
                width: 50%;
                margin-bottom: 30px;
            }    
    }	
}
@include laptop {
    .fotogallery-gallery {    
            img {
                width: 50%;
                margin-bottom: 30px;
            }
    }
}
@include tablet {
     .fotogallery-gallery {    
            img {
                margin-bottom: 30px;
            }
    }
}
@include tablet-mini {
    .fotogallery-wrap {
        margin-top: 70px;
    }
    .fotogallery-title {
        &__topic-text {
            padding-bottom: 20px;
            font-size: 18px;
        }
    }
    .title-section {
        &__title-topic {
            font-size: 26px;
        } 
        &__title-border {
            margin-top: 5px;
            margin-bottom: 5px;
        }   
    }
     .fotogallery-gallery {    
            img {
                margin-bottom: 30px;
            }
    }
}
@include phone {
    .fotogallery-wrap {
        margin-top: 50px;
    }
    .fotogallery-title {
        &__topic-text {
            padding-bottom: 20px;
            font-size: 14px;
        }
    }
    .title-section {
        margin: 10px 0;
        &__title-topic {
            font-size: 26px;
        } 
        &__title-border {
            margin-top: 5px;
            margin-bottom: 5px;
        }   
    }
     .fotogallery-gallery {    
            img {
                margin-bottom: 20px;
            }
    }
}
@include iphone-5 {
    .fotogallery-wrap {
        margin-top: 50px;
    }
    .fotogallery-title {
        &__topic-text {
            padding-bottom: 20px;
            font-size: 11px;
        }
    }
    .title-section {
        margin: 10px 0;
        &__title-topic {
            font-size: 20px;
        } 
        &__title-border {
            margin-top: 5px;
            margin-bottom: 5px;
        }   
    }
    .fotogallery-gallery {    
            img {
                margin-bottom: 15px;
            }
    }
}