/* ------------ fotogallery --------------- */
section-5 {
	display: none;
	display: flex;
    align-items: center;
    padding-bottom: 45px;
}

.fotogallery-wrap {
	display: flex;
	flex-direction: column;	
    margin-top: 100px;
}

.fotogallery-title {
	display: flex;
    flex-direction: column;
    align-items: center;
    &__topic-fotogallery {
    	margin: 30px 0;    	
		@extend h2;
        font-size: 40px;
    }
    &__topic-text {
        @extend h3;
        color: $blue-dark;
        font-weight: $medium-plus;
	    width: 45%;
    	text-align: center;
        padding-bottom: 50px;
    }
}

.fotogallery-gallery {    
	display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    &__picture	{
        position: relative;
        overflow: hidden;
        width: 85%;
        height: 515px;
        display: flex;
        margin: 0 auto;
        margin-bottom: 70px;
        border-radius: 20px;
        border: 1px solid $grey-opacity;
        img {
            position: absolute;
            width: 100%;
            margin: auto;
            margin: 0 auto;
        }
    }
}

.picture1 {
    top: 0;
}

.picture2 {
    top: -600px;
}

.picture3 {
    top: -535px;
}

.picture5 {
    top: 0;
}

.picture6 {
    top: -423px;
}

.picture9 {
    top: 0;
}


/* ------ media query ------ */
@include desktop {
    .fotogallery-gallery {    
            flex-direction: row;
        &__picture  {
            width: 40%;
            height: 243px;
        }
    }

    .picture1 {
        top: 0;
    }

    .picture2 {
        top: -274px;
    }

    .picture3 {
        top: -290px;
    }

    .picture5 {
        top: 0;
    }

    .picture6 {
        top: -205px;
    }

    .picture9 {
        top: 0;
    }	
}
@include laptop {
    .fotogallery-gallery {    
            flex-direction: row;
        &__picture  {
            width: 40%;
            height: 200px;
            border-radius: 5px;
        }
    }

    .picture1 {
        top: 0;
    }

    .picture2 {
        top: -230px;
    }

    .picture3 {
        top: -239px;
    }

    .picture5 {
        top: 0;
    }

    .picture6 {
        top: -173px;
    }

    .picture9 {
        top: 0;
    }
}
@include tablet {
    .fotogallery-gallery {    
            flex-direction: row;
        &__picture  {
            width: 40%;
            height: 147px;
            margin-bottom: 30px;
            border-radius: 5px;
        }
    }

    .picture1 {
        top: 0;
    }

    .picture2 {
        top: -165px;
    }

    .picture3 {
        top: -172px;
    }

    .picture5 {
        top: 0;
    }

    .picture6 {
        top: -124px;
    }

    .picture9 {
        top: 0;
    }
}
@include tablet-mini {
    .fotogallery-title {
        &__topic-fotogallery {
            margin: 5px 0;     
            font-size: 24px;
        }
        &__topic-text {
            padding-bottom: 20px;
            font-size: 18px;
        }
    }
    .fotogallery-gallery {    
            flex-direction: row;
        &__picture  {
            width: 40%;
            height: 107px;
            margin-bottom: 30px;
            border-radius: 5px;
        }
    }

    .picture1 {
        top: 0;
    }

    .picture2 {
        top: -120px;
    }

    .picture3 {
        top: -123px;
    }

    .picture5 {
        top: 0;
    }

    .picture6 {
        top: -90px;
    }

    .picture9 {
        top: 0;
    }
}
@include phone {
    .fotogallery-title {
        &__topic-fotogallery {
            margin: 5px 0;     
            font-size: 22px;
        }
        &__topic-text {
            padding-bottom: 20px;
            font-size: 14px;
        }
    }
    .fotogallery-gallery {    
        &__picture  {
            width: 62%;
            height: 107px;
            margin-bottom: 20px;
            border-radius: 5px;
        }
    }

    .picture1 {
        top: 0;
    }

    .picture2 {
        top: -120px;
    }

    .picture3 {
        top: -123px;
    }

    .picture5 {
        top: 0;
    }

    .picture6 {
        top: -90px;
    }

    .picture9 {
        top: 0;
    } 	
}
@include iphone-X {
    .fotogallery-title {
        &__topic-fotogallery {
            margin: 5px 0;     
            font-size: 22px;
        }
        &__topic-text {
            padding-bottom: 20px;
            font-size: 14px;
        }
    }
    .fotogallery-gallery {    
        &__picture  {
            width: 62%;
            height: 107px;
            margin-bottom: 20px;
            border-radius: 5px;
        }
    }

    .picture1 {
        top: 0;
    }

    .picture2 {
        top: -120px;
    }

    .picture3 {
        top: -123px;
    }

    .picture5 {
        top: 0;
    }

    .picture6 {
        top: -90px;
    }

    .picture9 {
        top: 0;
    } 	
}	
@include iphone-5 {
    .fotogallery-title {
        &__topic-fotogallery {
            margin: 5px 0;     
            font-size: 20px;
        }
        &__topic-text {
            padding-bottom: 20px;
            font-size: 11px;
        }
    }
    .fotogallery-gallery {    
        &__picture  {
            width: 62%;
            height: 90px;
            margin-bottom: 20px;
            border-radius: 5px;
        }
    }

    .picture1 {
        top: 0;
    }

    .picture2 {
        top: -105px;
    }

    .picture3 {
        top: -105px;
    }

    .picture5 {
        top: 0;
    }

    .picture6 {
        top: -75px;
    }

    .picture9 {
        top: 0;
    }
}