/* ------------ header --------------- */
header { 
    position: fixed;
    z-index: 101;
    width: 100%;    
    background: $white;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0.95;    
}

.header-wrap {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.header-top {
	display: flex;
    align-items: center;
    padding: 0;
    padding-top: 16px;
    justify-content: space-between;    
	/* &__logotype {
		display: flex;
	    	justify-content: center;						
		a {
			@extend a;
		    text-align: center;
			font-size: 14px;			
		}				
	} */
	/* &__language{
		display: flex;
	    justify-content: flex-end;
	    align-items: center;
	    font-size: 14px;
		&_Ru {
			a {
				@extend a;
							
			}
		}
		&_En {
			display: none;
			a {
				
				@extend a;
							
			}
		}
	} */

}

.header-big {
	&__menu {
		width: 49%;
	    display: flex;
	    justify-content: space-between;
    	text-decoration: none;
    	margin-bottom: 6px;	    
    	padding: 12px 0 0 0;
    	@extend ul;    	    	
		&_link-group {
			a {							
				padding: 0px 4px 5px 4px;	    		
	    		@extend a;	    						
	    		&:hover {
		  			//border-bottom: 1px solid $orange-light;
				}
			}
		}
	}
}

.logotype {
	display: flex;
	justify-content: center;						
	a {
		@extend a;
	    text-align: center;
		font-size: 14px;			
	}				
}
.header-phone {
	display: flex;
	    justify-content: flex-end;
	    align-items: center;
	&__number-phone {
		
	}
}

.language{
	display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
	&__Ru {
		color: $red-dark;
		a {
			@extend a;					
		}
	}
	&__En {
		color: $red-dark;	
		display: none;
		a {			
			@extend a;						
		}
	}
}




/* for border in menu */
.selected {	
	border-bottom: 1px solid $red-dark;
	a {		
  		border-bottom: 1px solid $red-link;
	}
}

/* byrger-menu start*/
.byrger{
	display: flex;
    align-items: center;

    //justify-content: flex-end;
    //padding-left: 0;
}

.byrger-menu {
	display: flex;
	//justify-content: flex-end;  
	text-align: right;
  	padding-top: 9px;  
	&__byrger-icon {
	   	/* visibility: hidden; */
	   	display: none;
   		width: 24px;
	    height: 25px;
	    position: relative;
	    cursor: pointer;
		&_line {
		  	display: block;		  	
		  	position: absolute;
  			height: 3px;
  			width: 100%;
		  	background: $purpur-dark;		  	
		  	border-radius: 6px;
  			opacity: 1;
  			left: 0;
  			transform: rotate(0deg);
  			transition: .25s ease-in-out;
  		} 		
	}
}

.line-1 {
    top: 0px;
}
.line-3, .line-2 {
	top: 7px;
}
.line-4 {
	top: 14px;
}  
/* byrger-menu finish*/

/* gambyrger-menu start*/
.gambyrger {
	display: flex;
    flex-direction: column;
}

.gambyrger-menu {	
	display: flex;
    justify-content: flex-end;
	//background-color: $purpur-dark;
	&__gambyrger-list {
		display: none;
		height: 100vh;        
	    @extend ul;
	    padding-left: 0;    	
		&_link-group {			
			a {
				padding: 0px 4px;
	    		@extend a;
	    		color: $purpur-extra-light;				
	    		&:hover {
		  			border-bottom: 2px solid $red-link;
		  			color: $purpur-light;
				}
			}
		}
    }
}

.popap {
    padding-top: 20px;
}

.pop {
	margin-bottom: 7px;
}

.byrger-menu.byrger-menu_state_open .byrger-menu__byrger-icon .line-1 {
  top: 18px;
  width: 0%;
  left: 50%;
}
.byrger-menu.byrger-menu_state_open .byrger-menu__byrger-icon .line-2 {
  transform: rotate(45deg);
}
.byrger-menu.byrger-menu_state_open  .byrger-menu__byrger-icon .line-3 {
  transform: rotate(-45deg);
}
.byrger-menu.byrger-menu_state_open  .byrger-menu__byrger-icon .line-4 {
  top: 18px;
  width: 0%;
  left: 50%;
}
.byrger-menu.byrger-menu_state_open .gambyrger-menu {
  display: block;  
}
/* gambyrger-menu finish*/


/* ------ media query ------ */

@include desktop {

}

@include laptop {
	
}

@include tablet {
	
}

@include phone {
	
}

@include iphone {
	
}