/* ------------ header --------------- */
header {    
    width: 100%;
    position: fixed;
    z-index: 101;
    background: url('../images/header.png') no-repeat top fixed;
    opacity: 0.95;
    background-size: cover;
}

.header-wrap {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.header-big {
	display: flex;
    align-items: flex-end;
    padding: 0;    
	&__logotype {
		display: flex;
		padding: 0;				
		a {
			@extend a;
			font-size: 20px;			
		}				
	}
	&__menu {
		width: 49%;
	    display: flex;
	    justify-content: space-between;
    	text-decoration: none;
	    margin-bottom: 2px;
    	padding: 66px 0 0 0;
    	@extend ul;    	    	
		&_link-group {
			a {				
				padding: 0px 4px;	    		
	    		@extend a;	    						
	    		&:hover {
		  			border-bottom: 3px solid $yellow;
				}
			}
		}
	}
}


/* for border in menu */
.selected {	
	border-bottom: 3px solid $yellow;
	a {		
  		border-bottom: 3px solid $yellow;
	}
}

/* byrger-menu start*/
.byrger{
	display: flex;
    justify-content: flex-end;
    padding-right: 0;
}

.byrger-menu {
	display: flex;
	justify-content: flex-end;  
	text-align: right;
  	padding-top: 9px;  
	&__byrger-icon {
	   	/* visibility: hidden; */
	   	display: none;
   		width: 24px;
	    height: 25px;
	    position: relative;
	    cursor: pointer;
		&_line {
		  	display: block;		  	
		  	position: absolute;
  			height: 3px;
  			width: 100%;
		  	background: $purpur-dark;		  	
		  	border-radius: 6px;
  			opacity: 1;
  			left: 0;
  			transform: rotate(0deg);
  			transition: .25s ease-in-out;
  		} 		
	}
}

.line-1 {
    top: 0px;
}
.line-3, .line-2 {
	top: 7px;
}
.line-4 {
	top: 14px;
}  
/* byrger-menu finish*/

/* gambyrger-menu start*/
.gambyrger {
	display: flex;
    flex-direction: column;
}

.gambyrger-menu {	
	display: flex;
    justify-content: flex-end;
	background-color: $purpur-dark;
	&__gambyrger-list {
		display: none;
		height: 100vh;        
	    @extend ul;
	    padding-left: 0;    	
		&_link-group {			
			a {
				padding: 0px 4px;
	    		@extend a;
	    		color: $purpur-extra-light;				
	    		&:hover {
		  			border-bottom: 3px solid $yellow;
		  			color: $purpur-light;
				}
			}
		}
    }
}

.popap {
    padding-top: 20px;
}

.pop {
	margin-bottom: 7px;
}

.byrger-menu.byrger-menu_state_open .byrger-menu__byrger-icon .line-1 {
  top: 18px;
  width: 0%;
  left: 50%;
}
.byrger-menu.byrger-menu_state_open .byrger-menu__byrger-icon .line-2 {
  transform: rotate(45deg);
}
.byrger-menu.byrger-menu_state_open  .byrger-menu__byrger-icon .line-3 {
  transform: rotate(-45deg);
}
.byrger-menu.byrger-menu_state_open  .byrger-menu__byrger-icon .line-4 {
  top: 18px;
  width: 0%;
  left: 50%;
}
.byrger-menu.byrger-menu_state_open .gambyrger-menu {
  display: block;  
}
/* gambyrger-menu finish*/


/* ------ media query ------ */

@include desktop {

}

@include laptop {
	
}

@include tablet {
	
}

@include phone {
	
}

@include iphone {
	
}