/* ------------ header --------------- */
header { 
    position: fixed;
    z-index: 101;
    width: 100%;    
    background: $white;
    padding-top: 10px;
    padding-bottom: 10px;
    @media (min-width: 385px) and (max-width: 575.98px) {
		    	padding-bottom: 7px;
    			padding-top: 7px;
		    }
    opacity: 0.95;    
}

.header-wrap {
	display: flex;
}

menu {
	display: flex;
    align-items: center;	
}

.header-nav {
	width: 100%;
    display: flex;
    @media (max-width: 575.98px) {
	    display: none;
	}
    justify-content: space-between;
	text-decoration: none;
	margin-bottom: 6px;	    
	padding: 12px 0 0 0;
	@extend ul;
	&__link-group {			
		a {							
			padding: 0px 4px 5px 4px;	    		
    		@extend a;	    						
		}
	}
}

/* for border in menu */
.link-active.active {
	color: $blue-light;	
	border-bottom: 1px solid $red-dark;
	a {		
  		border-bottom: 1px solid $red-link;
	}
}

.logotype .link-active.active {
	border-bottom: none;
}

.logotype {	
	display: flex;
	justify-content: center;
	align-items: center;						
	a {
		@extend a;
	    text-align: center;
		font-size: 14px;
		img {
			width: 100%;
		}			
	}				
}

.header-phone {
	width: 100%;
	display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
    	width: 86%;
    	@media (min-width: 576px) and (max-width: 767.98px) {
			width: 82%;
		}
		@media(max-width: 575.98px) {
			width: 15%;
		}
    	@extend a;
    	display: flex;
    	align-items: center;
    }
    i {
    	display: flex;    	
    	color: $green;
    }
	&__number-phone {
		display: flex;
		@media (max-width: 575.98px) {
			display: none;
		}
		margin-left: 15px;		
	}
}

.language{
	width: 100%;
	display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
	&__Ru {
		display: none;
		color: $red-dark;
		a {
			@extend a;					
		}
	}
	&__En {
		color: $red-dark;		
		a {			
			@extend a;						
		}
	}
}

/* -----  gambyrger-menu start  -----*/
.burger-menu {
	
	&__burger-button {
		display: none;
		@media (max-width: 575.98px) {
			display: flex;
		}
		top: 0px;
	    left: 0px;
	    position: relative;
		z-index: 30;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		transition: 0.4s;	
	}	
}

.burger-menu__burger-button:hover .burger-menu__lines {
	filter: brightness(0.7);
}

/*gambyrger line*/
.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before {
	position: absolute;
	width: 20px;
	height: 2px;
	background-color: $blue-grey;
	display: flex;
    justify-content: center;
    align-items: center;
}

.burger-menu__lines {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Top and bottom lines */
.burger-menu__lines:before {
	content: '';	
	top: -6px;
		
}

/* Moves line down */
.burger-menu__lines:after {
	content: '';
	top: 6px;
}

/* Buttom animate */
.burger-menu__active .burger-menu__burger-button,
.burger-menu__active .burger-menu__lines {
	background-color: transparent;
}

.burger-menu__active .burger-menu__lines::before {
	top: 0;
	background-color: $white;
	transform: rotate(45deg);
}
.burger-menu__active .burger-menu__lines::after {
	top: 0;
	background-color: $white;
	transform: rotate(-45deg);
}

.burger-menu__burger-nav {
    top: 0;
	padding-top: 80px;
	position: fixed;
	z-index: 20;
	display: flex;
	height: 100%;
	background-color: $grey-blue;
	left: -100%;
	transition: 0.5s;
}

.burger-menu__active .burger-menu__burger-nav {
	left: 0;
}

.burger-list {
	padding-right: 40px;
    padding-left: 70px;
}

.burger-menu__burger-link {		
	@extend a;
	color: $white;
	transition: color 0.4s ease;				
}

.burger-menu__burger-link:hover {
	filter: brightness(0.95);	
}

.burger-menu__overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
}

.burger-menu__active .burger-menu__overlay {
	display: block;	
}

.pop {
	margin-bottom: 7px;
}
/* -----  gambyrger-menu finish  -----*/


/* ------ media query ------ */
@include desktop {	
}
@include iPad {
	menu {
		margin: 0;	
	}
	.header-nav {
		&__link-group {			
			a {
				font-size: 12px;							
			}
		}
	}
	.link-active {
		width: 55%;
	}
	.header-phone {
		i {
			font-size: 12px;
		}
		&__number-phone {
			font-size: 12px;
		}
	}
	.language{
		&__Ru {
			font-size: 12px;
		}	
		&__En {
			font-size: 12px;
		}
	}
}
@include tablet {
	menu {
		margin: 0;	
	}
	.header-nav {
		&__link-group {			
			a {
				font-size: 12px;							
			}
		}
	}
	.link-active {
		width: 55%;
	}
	.header-phone {
		i {
			font-size: 12px;
		}
		&__number-phone {
			font-size: 12px;
		}
	}
	.language{
		&__Ru {
			font-size: 12px;
		}	
		&__En {
			font-size: 12px;
		}
	}
}
@include tablet-mini {
	menu {
		margin: 0;	
	}
	.header-nav {
		margin-bottom: 0;
    	padding: 0;	    
		&__link-group {			
			a {
			font-size: 11px;							
			}
		}
	}
	.link-active {
		width: 60%;
	}
	.header-phone {
		i {
			font-size: 10px;
		}
		&__number-phone {
			font-size: 10px;
			margin-left: 10px;
		}
	}
	.language{
		&__Ru {
			font-size: 12px;
		}	
		&__En {
			font-size: 12px;
		}
	}
}
@include phone {
	header {    
	    padding-top: 3px;
	    padding-bottom: 3px;
	}
	menu {
		margin: 0;	
	}
	.fa-phone {		
		font-size: 12px;
	}
	.language{
		&__Ru {
			font-size: 12px;
		}	
		&__En {
			font-size: 12px;
		}
	}
}
@include iphone-X {
	header {    
	    padding-top: 3px;
	    padding-bottom: 3px;
	}

	menu {
		margin: 0;	
	}	
	.fa-phone {		
		font-size: 12px;
	}
	.language{
		&__Ru {
			font-size: 12px;
		}	
		&__En {
			font-size: 12px;
		}
	}
}
@include iphone-X-portrait {
}
@include iphone-X-landscape {
}
@include iphone-5 {
	header {    
	    padding-top: 3px;
	    padding-bottom: 3px;
	}
	menu {
		margin: 0;	
	}	
	.fa-phone {
		font-size: 12px;
	}
	.language{
		&__Ru {
			font-size: 12px;
		}	
		&__En {
			font-size: 12px;
		}
	}
}

/* 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  } 

 */



 /* -----  gambyrger-menu start  -----*/

/* .gambyrger-menu {
	display: none;
	//position: fixed;
	top: -16px;
	left: 0;
	z-index: 1;
	&__toggler {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		cursor: pointer;
		width: 50px;
		height: 50px;
		opacity: 0;		
	}
	&__gambyrger {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 60px;
		height: 60px;
		padding: 1rem;
		//background: $shadow;
		display: flex;
	    justify-content: center;
	    align-items: center;	    
	}
}

gambyrger line
.gambyrger-in {
	position: relative;
	width: 100%;
	height: 2px;
	background-color: $blue-dark;
	display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

Top and bottom lines
.gambyrger-menu__gambyrger .gambyrger-in:before, 
.gambyrger-menu__gambyrger .gambyrger-in:after {
	content: '';
	position: absolute;
	z-index: 1;
	top: -10px;
	width: 100%;
	height: 2px;
	background: inherit;	
}

Moves line down
.gambyrger-menu__gambyrger .gambyrger-in:after {
	top: 10px;
}

Toggler animate
.gambyrger-menu__toggler:checked + .gambyrger-menu__gambyrger > .gambyrger-in {
	transform: rotate(135deg); 
}

Turn lines into X
.gambyrger-menu__toggler:checked + .gambyrger-menu__gambyrger > .gambyrger-in:before, 
.gambyrger-menu__toggler:checked + .gambyrger-menu__gambyrger > .gambyrger-in:after {
	top: 0;
	transform: rotate(90deg); 
}

Rotate on hover when checked
.gambyrger-menu__toggler:checked:hover + .gambyrger-menu__gambyrger > .gambyrger-in {
	transform: rotate(225deg); 
}

Show gambyrger-background
.gambyrger-menu__toggler:checked ~ .gambyrger-background {
	visibility: visible;
}

.gambyrger-menu__toggler:checked ~ .gambyrger-background > .gambyrger-wrap {
	transform: scale(1);
	transition-duration: 0.75s;
}

.gambyrger-menu__toggler:checked ~ .gambyrger-background > .gambyrger-wrap > .gambyrger-box {
	opacity: 1;
	transition: opacity 0.4s ease;
}

.gambyrger-menu .gambyrger-background {
	display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
	height: 100%;
	visibility: hidden;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
}
.gambyrger-menu .gambyrger-background > .gambyrger-wrap  {
	display: flex;
	flex: none;
	justify-content: center;
    align-items: center;
	background: $blue-grey;
	border-radius: 50%;
	width: 200vw;
	height: 200vw;
	transform: scale(0);
	transition: all 0.4s ease;
}	
.gambyrger-menu .gambyrger-background > .gambyrger-wrap > .gambyrger-box {
	text-align: center;
	max-width: 90vw;
	max-height: 100vh;
	opacity: 0;
	transition: opacity 0.4s ease;
}	
.gambyrger-menu .gambyrger-background > .gambyrger-wrap > .gambyrger-box > .gambyrger-list {
    @extend ul;
    padding-left: 0;
} 
.gambyrger-menu .gambyrger-background > .gambyrger-wrap > .gambyrger-box > .gambyrger-list > .lists > a:hover ~ .gambyrger-background > .gambyrger-wrap {
    transform: scale(0);
} 

.lists {			
	a {
		padding: 0px 4px;
		@extend a;		
		transition: color 0.4s ease;				
		&:hover {
  			border-bottom: 2px solid $red-link;
  			color: $blue-light;
		}		
	}
}

.gambyrger-menu__active .gambyrger-background {
	visibility: visible;
}

.popap {
    padding-top: 20px;
}

.pop {
	margin-bottom: 7px;
} */


/* -----  gambyrger-menu finish  -----*/