section-1 {
	display: flex;  
}

.home {
	background: url('../images/Home-photo4.png') no-repeat top fixed;	
    width: 100%;
	min-height: 100vh;
	display: flex;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;	
	background-size: cover;
}

.home-wrap {    
	display: flex;
    min-height: 100vh;
    padding-top: 320px;		
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    align-items: center;
	padding-top: 0;
    &__main-title {
		display: flex;
		flex-direction: column;
		align-items: center;
	    &_title {
			@extend h1;	
			padding-top: 0;
		}
		&_topic {
			@extend h2;
			color: $white;
			padding-top: 23px;
		}
		&_main-button {
			margin-top: 65px;	
		}
	}	
}

.button-top {
	display: flex;			
	@extend button;
	background-color: $white;
	&:hover {
		background-color: $orange;
	}
	a {
		font-family: 'Nunito Sans', sans-serif;
		text-transform: none;
		color: $orange;
		font-size: 25px;		
		&:hover {
			color: $white;
		}
	}
	&__btn {
		padding: 25px 60px;			
	}
}

.scroll-link {
	display: flex;
	scroll-behavior: smooth;
	justify-content: center;
	align-items: center;
	bottom: 100px;
	
	&__link-arrow {
		width: 100%;
		z-index: 1;
		margin-top: 4px;
	}
}

.fa-circle {
	color: #ffffff;	
	position: absolute;
	opacity: 0.5;
	z-index: 1;
}



/* ------ media query ------ */
@include television {
	.home-wrap {	
	    padding-top: 0;		
	}
	.main {
		align-items: start;
	    padding-top: 122px;
	    &__main-title {			
		    &_title {
				font-size: 60px;	
			}
			&_topic {
				font-size: 40px;	
			}
			&_main-button {
				margin-top: 40px;	
			}
		}
	}
	.button-top {
		a {
			font-size: 22px;			
		}
		&__btn {
			padding: 18px 40px;					
		}
	}
	.scroll-link {	
		font-size: 12px;
		&__link-arrow {
			width: 80%;
		}
	}			
}
@include desktop {
	.home-wrap {	
	    padding-top: 0;		
	}
	.main {
		//align-items: start;
	    &__main-title {	
	    	padding-top: 70px;		
		    &_title {
				font-size: 40px;	
			}
			&_topic {
				font-size: 30px;	
			}
			&_main-button {
				margin-top: 40px;	
			}
		}	
	}
	.button-top {
		a {
			font-size: 18px;			
		}
		&__btn {
			padding: 15px 30px;					
		}
	}
	.scroll-link {
		bottom: 80px;	
		font-size: 10px;
		&__link-arrow {
			width: 65%;
		}
	}
}
@include laptop {
	.home-wrap {	
	    padding-top: 0;		
	}
	.main {	
	    &__main-title {		
		    &_title {
		    	padding-top: 80px;
				font-size: 40px;	
			}
			&_topic {
				font-size: 30px;	
			}
			&_main-button {
				margin-top: 40px;	
			}
		}	
	}
	.button-top {
		a {
			font-size: 18px;			
		}
		&__btn {
			padding: 15px 30px;					
		}
	}
}

/* ---- iPadPro ---- */
@include iPadPro {
	.home {
		-webkit-background-size: cover;
	}
	.home-wrap {	
	    padding-top: 0;		
	}
	.main {	
	    &__main-title {	
	    	padding-top: 0;	    		
		    &_title {		    	
				font-size: 50px;
				padding-top: 0;	
			}
			&_topic {
				font-size: 40px;	
			}
			&_main-button {
				margin-top: 40px;	
			}
		}	
	}
	.button-top {
		a {
			font-size: 16px;			
		}
		&__btn {
			padding: 15px 30px;					
		}
	}
	.scroll-link {
		bottom: 50px;	
		font-size: 10px;
		&__link-arrow {
			width: 75%;
		}
	}
}
@include iPadPro-portrait {
	.main {	
	    &__main-title {	
		    &_title {		    	
				padding-top: 0;	
			}
			&_topic {
			}
			&_main-button {
			}
		}	
	}
	.scroll-link {
		bottom: 50px;	
		&__link-arrow {
		}
	}
}

@include iPadPro-landscape {
	.main {	
	    &__main-title {   	
	    	padding-top: 160px;	
		    &_title {		    	
			}
			&_topic {
			}
			&_main-button {
			}
		}	
	}
		
}

/* ---- iPad ---- */
@include iPad {	
	.home {
		-webkit-background-size: cover;
	}
	.home-wrap {	
	    padding-top: 0;		
	}
	.main {	
	    &__main-title {	    	
	    	padding-top: 0;	
		    &_title {		    	
				font-size: 36px;	
			}
			&_topic {
				font-size: 28px;	
			}
			&_main-button {
				margin-top: 22px;	
			}
		}	
	}
	.button-top {
		a {
			font-size: 14px;			
		}
		&__btn {
			padding: 12px 22px;					
		}
	}
	.scroll-link {
		bottom: 50px;	
		font-size: 10px;
		&__link-arrow {
			width: 75%;
		}
	}	
}
@include iPad-landscape {		
	.main {
		padding-top: 94px;	
	    &__main-title {	    	
		    &_title {		    	
			}
			&_topic {
			}
			&_main-button {
				margin-top: 22px;	
			}
		}	
	}	
	.scroll-link {
		bottom: 50px;	
		&__link-arrow {
		}
	}	
}

@include iPad-portrait {
	.main {	
	    &__main-title {	    	
		    &_title {		    	
			}
			&_topic {
			}
			&_main-button {
				margin-top: 30px;	
			}
		}	
	}	
}

@include tablet {
	.home-wrap {	
	    padding-top: 0;		
	}
	.main {
		align-items: center;
		padding-top: 0;	
	    &__main-title {		
		    &_title {
		    	padding-top: 0;
				font-size: 40px;	
			}
			&_topic {
				font-size: 30px;	
			}
			&_main-button {
				margin-top: 40px;	
			}
		}	
	}
}
@include iphone {
	.main {
		align-items: center;
		padding-top: 0;	
	    &__main-title {		
		    &_title {
		    	padding-top: 0;
				font-size: 25px;	
			}
			&_topic {
				font-size: 18px;	
			}
			&_main-button {
				margin-top: 20px;	
			}
		}	
	}
}
@include phone {

}






/* 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  } 

 */