section-1 {
	background: url('../images/Home-photo4.png') no-repeat top fixed;
	display: flex;
    flex-direction: column;
    padding-top: 122px;
    background-size: cover;
}

.home-wrap {
	
	width: 100%;
	//opacity: 0.5;
	min-height: 92vh;
	display: flex;
	flex-direction: column;	
		
}

.main {
	display: flex;
    flex-direction: column;
    align-items: center;    
    margin-left: 0;	
}


.topic-main {
	@extend h1;	
	padding-top: 9px;	
}

.topic-title {
	@extend h2;
	color: $white;
	padding-top: 23px;	
}

.topic-text {
	padding-top: 23px;
	margin-bottom: 36px;
	@extend h3;
	font-size: 32px;
}

.block-topic {
		text-align: center;
}

.blok-button {
	display: flex;
    flex-direction: column;
} 
.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
    width: 52%;	
}   
.button-home {
	margin-top: 50px;	
}
.button-top {
	display: flex;			
	@extend button;
	background-color: $white;
	&:hover {
		background-color: $orange;
	}
	a {
		font-family: 'Nunito Sans', sans-serif;
		text-transform: none;
		color: $orange;
		&:hover {
			color: $white;
		}
	}
	&__btn {
		padding: 20px 50px;	
	}
}





.scroll-arrow {		
		display: flex;
	    justify-content: center;
	    position: relative;
	    padding-top: 370px;
	    &__scroll-link {
	    	scroll-behavior: smooth;
	    	justify-content: center;
    		align-items: center;
	    	/* &_link-circle {
	    					position: absolute;
	    	    			width: 6%;
	    	    			z-index: 1;
	    	} */
	    	&_link-arrow {
	    		width: 80%;
	    		z-index: 1;
	    		margin-top: 4px;
	    	}
	    }	
}

.fa-circle {
	color: #ffffff;	
	position: absolute;
	opacity: 0.5;
	z-index: 1;
}


#scroll-home {
    display: flex;
}
