section-1 {
	background: url('../images/Home-photo4.png') no-repeat top fixed;
	display: flex;
    flex-direction: column;
    padding-top: 122px;
    background-size: cover;
}

.home-wrap {
	
	width: 100%;
	//opacity: 0.5;
	min-height: 92vh;
	display: flex;
	flex-direction: column;	
		
}

.main {
	display: flex;
    flex-direction: column;
    align-items: flex-end;    
    margin-left: 0;	
}


.topic-main {
	@extend h1;	
	padding-top: 9px;	
}

.topic-title {
	@extend h2;
	color: $white;
	padding-top: 23px;	
}

.topic-text {
	padding-top: 23px;
	margin-bottom: 36px;
	@extend h3;
	font-size: 32px;
}

.block-topic {
		text-align: center;
}

.blok-button {
	display: flex;
    flex-direction: column;
} 
.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
    width: 52%;	
}   
.button-home {
	margin-top: 84px;	
}
.button-top {
	display: flex;
			
	@extend button;
	opacity: 0.7;
	&_btn {
		padding: 20px 33px;
	}
}





.scroll-arrow {		
		display: flex;
	    justify-content: center;
	    padding-top: 450px;	
	}

i {
	color: #ffffff;	
	@extend a;
	font-size: 1.6em;			
}

#scroll-home {
    display: flex;
    flex-direction: column;   
	margin-bottom: 20px;
}
