/* ------------ portfolio --------------- */
section-5 {
	display: flex;
	align-items: center;
	padding-top: 94px;
    min-height: 100vh;
} 

.block-gallery {
	display: flex;
	flex-direction: column;
}

.portfolio-info {    
    display: flex;
    flex-direction: column;
    align-items: center;	
	&__topic {
	    margin-bottom: 30px;			
		@extend h2;
	}
	&__text-portfolio {
	    width: 50%;
    	text-align: center;
    	color: $blue-dark;
	}	
}

.block-gallery-image {
	display: flex;
}

.portfolio-left {
	display: flex;
	&__project-big-foto {
		position: relative;
	    overflow: hidden;
	    width: 70%;
	    height: 450px;
	    margin-left: 40px;
	    &_fotoProject-big {
			margin-top: -180px;
			width: 100%;
		}	
	}
}


.portfolio-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__projeсts-portfolio {
		margin-bottom: 20px;
	}
	&__carousel	{
		width: 170px;
		height: 360px;
		display: flex;
		justify-content: center;
		overflow: hidden;		
		&_carousel-block {
			height: 720px;
			display: flex;
			flex-direction: column;
		}
	}
}

#polosa {
	position: relative;
	top: 0;
	transition: all ease 1s;
}

.carousel-foto {
	&__project {
		position: relative;
		overflow: hidden;
		width: 120px;
	    height: 90px;
		&_fotoProject {
			width: 100%;
			margin-top: -53px;
		}
	}
}

.arrow-up-down {
	height: 60px;
}



.caret {
	position: absolute;
	color: $orange;
}

#slider-top {
	display: flex;
    justify-content: center;
    align-items: center;
}

#slider-bottom {
	display: flex;
    justify-content: center;
    align-items: center;
}


/* ------ media query ------ */
@include television {
	.portfolio-info {    
		&__topic {
			font-size: 36px;
		}
		&__text-portfolio {
		}
		&__link-portfolio {
		}
	}
}
@include desktop {
	.portfolio-info {    
		&__topic {
			font-size: 36px;
		}		
	}	
}
@include laptop {
}
@include tablet {
}
@include iphone {
}
@include phone {
}

/* 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  } 

 */