/* ------------ portfolio --------------- */
section-5 {
	display: flex;
		
	padding-top: 140px;
    //margin-bottom: 20px;
    min-height: 100vh;
} 

.block-gallery {
	display: flex;
	flex-direction: column;
}

.block-gallery-image {
	display: flex;
}

.portfolio-info {    
    display: flex;
    flex-direction: column;
    align-items: center;	
	&__topic {
	    margin-bottom: 30px;			
		@extend h2;
	}
	
	&__text-portfolio {
	    width: 50%;
    	text-align: center;
    	color: $blue-dark;
	}
	&__link-portfolio {
		@extend a;
		color: $orange;
		cursor: pointer;
	}
}

.portfolio-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__projeсts-portfolio {
		margin-bottom: 20px;
	}
	&__carousel	{
		width: 170px;
		height: 520px;
		display: flex;
		overflow: hidden;		
		&_carousel-block {
			height: 1040px;
			display: flex;
			flex-direction: column;
		}
	}
}
#polosa {
	position: relative;
	top: 0;
	transition: all ease 1s;
}

.project-big-foto {
	position: relative;
    overflow: hidden;
    width: 100%;
    height: 662px;	
}

.project {
	position: relative;
	overflow: hidden;
	width: 170px;
    height: 130px;
	img {
		
	}
}

.arrow-up-down {
	height: 60px;
}

.fotoProject-big-fixed {
	margin-top: -265px;
	width: 100%;
}

.fotoProject-big {
	margin-top: -265px;
	width: 100%;
}
.fotoProject {
	width: 100%;
	margin-top: -65px;
}

.caret {
	position: absolute;
	color: $orange;
}

#slider-top {
	display: flex;
    justify-content: center;
    align-items: center;
}

#slider-bottom {
	display: flex;
    justify-content: center;
    align-items: center;
}

.one-line {

}


/* ------ media query ------ */
@include phone {

}
@include iphone {

}
@include tablet {

}
@include laptop {

}
@include desktop {

}

/* 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  } 

 */