/* ------------ products --------------- */
section-4 {
	display: flex;
	display: -webkit-flex;
    align-items: center;
	padding-top: 94px;
    min-height: 100vh;
} 
.product-wrap {
	display: flex;
	flex-direction: column;
}

.product {
	display: flex;
	justify-content: center;
	margin-bottom: 90px;
	&__product-title {
		@extend  h2;
	}	
}

.product-contain {
	display: flex;
}

.product-images {
	display: flex;
    flex-direction: column;
	&__picture {
		height: 150px;
		position: relative;
    	overflow: hidden;
    	display: flex;
    	justify-content: center;
    	&_product-image {
			width: 50%;
			position: absolute;
			margin-top: -40px;
		}
	}	
}


.characteristic-list {
	display: flex;
    flex-direction: column;
	&__product-characteristic {
		display: flex;
		margin-bottom: 7px;
	}
}


.character {
	display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

/* ------ media query ------ */
@include television {
	.product {
		&__product-title {
			font-size: 32px;
		}	
	}
}
@include desktop {	
}
@include laptop {
}
@include iPadPro-portrait {
	.product-contain {
		flex-direction: column;
	}
	.product-images {
		display: flex;
	    flex-direction: row;
	    justify-content: space-around;
	    padding-bottom: 50px;
		&__picture {
			width: 34%;
			height: 230px;
	    	&_product-image {
				width: 100%;
				position: absolute;
				margin-top: -130px;
			}
		}	
	}
}
@include iPad-landscape {	
	.product-images {
		max-width: 40%;
		&__picture {
			width: 50%;
			height: 116px;
			margin-left: 30px;
	    	&_product-image {
	    		width: 100%;
				margin-top: -40px;
			}
		}	
	}
	.product {
		margin-bottom: 30px;
		&__product-title {
			font-size: 36px;
		}	
	}
	.characteristic-list {
		&__product-characteristic {
			font-size: 12px;
			padding: 0;
		}
	}
	.character {
		padding: 0;
	}
}
@include iPad-portrait {
	.product-contain {
		flex-direction: column;
	}
	.product-images {
		display: flex;
	    flex-direction: row;
	    justify-content: space-around;
	    padding-bottom: 0;
		&__picture {
			width: 34%;
			height: 190px;
	    	&_product-image {
				width: 100%;
				position: absolute;
				margin-top: -90px;
			}
		}	
	}
	.product {
		margin-bottom: 30px;
		&__product-title {
			font-size: 36px;
		}	
	}
}
@include tablet {
}
@include iphone {
}
@include phone {
}

/* 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  } 

 */