/* ------------ tables --------------- */
#tables {
	display: none;
	display: flex;
    align-items: center;
    min-height: 100vh;
}

.tables-wrap {
	display: flex;
	flex-direction: column;	
	align-items: center;
}

.tables-title {
	display: flex;
    flex-direction: column;
    align-items: center;
    &__tables-topic {
    	margin: 70px 0;    	
		@extend h2;
        font-size: 40px;
    }    
}

.tables-collection {
	width: 80%;    
	display: flex;
    justify-content: space-around;
    &__table {
    	width: 40%;
    	display: flex;
	    flex-direction: column;
	    align-items: center;
	    &_foto-table	{
	        width: 100%;
	        display: flex;
	        justify-content: center;
	        margin-bottom: 40px;
	        border-radius: 5px;
	        border: 1px solid $grey-opacity;
	        img {
	        	width:100%;
	        }
	    }
	    &_tables-name {
	    	@extend a;
	    }
	}
}

.tables-name-special {
	font-size: 18px;
}




/* ------ media query ------ */
@include desktop {
	.tables-collection {    
	    &__table {
	    	width: 32%;
		}
	}
}
@include laptop {
	.tables-title {
    &__tables-topic {
    	margin-top: 0;    	
        font-size: 36px;
    }    
}
	.tables-collection {    
	    &__table {
		    &_foto-table	{
		    }	    
		}
	}
}
@include tablet {
	.tables-title__tables-topic {
	    font-size: 28px;
	}
    .tables-collection {    
	    &__table {
		    &_foto-table	{
		    }
		    &_tables-name a {
		    	font-size: 12px;
		    }
		}
	}
	.tables-name-special {
	font-size: 14px;
}
}
@include tablet-mini {
    .tables-title__tables-topic {
	    font-size: 24px;
    	margin: 25px 0;
	}
    .tables-collection { 
	    &__table {
		    &_foto-table	{
			    margin-bottom: 20px;
		    }
		    &_tables-name a {
		    	font-size: 12px;
		    }
		}
	}
	.tables-name-special {
		font-size: 14px;
	}
}
@include phone {
 	.tables-title__tables-topic {
	    font-size: 24px;
    	margin: 25px 0;
	}
    .tables-collection { 
    	width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: start;   
	    &__table {
	    	width: 50%;
		    &_foto-table	{
			    margin-bottom: 4px;
		    }
		    &_tables-name {
		    	line-height: 1.1;
		    	margin-bottom: 20px;
			    a {
			    	font-size: 12px;

			    }
			}
		}
	}
	.tables-name-special {
		font-size: 12px;
	}
}


/*@include iphone-X {
    .tables-title__tables-topic {
	    font-size: 24px;
    	margin: 25px 0;
	}
    .tables-collection { 
    	width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: none;   
	    &__table {
	    	width: 50%;
		    &_foto-table	{
			    margin-bottom: 4px;
		    }
		    &_tables-name {
		    	line-height: 1.1;
		    	margin-bottom: 20px;
			    a {
			    	font-size: 12px;

			    }
			}
		}
	}
	.tables-name-special {
		font-size: 12px;
	}
}*/	


@include iphone-5 {
    .tables-title__tables-topic {
	    font-size: 20px;
    	margin: 15px 0;
	}
    .tables-collection { 
    	width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: start;   
	    &__table {
	    	width: 50%;
		    &_foto-table	{
			    margin-bottom: 4px;
		    }
		    &_tables-name {
		    	line-height: 1.1;
		    	margin-bottom: 20px;
			    a {
			    	font-size: 12px;

			    }
			}
		}
	}
	.tables-name-special {
		font-size: 12px;
	}
}