/* ------------ tables --------------- */
#tables {
	display: none;
	display: flex;
    align-items: center;
    min-height: 100vh;
}

.tables-wrap {
	display: flex;
	flex-direction: column;	
	align-items: center;
}

.tables-title {
	display: flex;
    flex-direction: column;
    align-items: center;
    &__tables-topic {
    	margin: 70px 0;    	
		@extend h2;
        font-size: 40px;
    }    
}

.collectionss {
	display: flex;
	justify-content: space-around;
}
.tables-collection {
	display: flex;
	    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin-top: 25px;
    border-radius: 5px;
	border: 1px solid rgba(130, 136, 147, 0.3);
    &__table {
    	display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: space-between;
		/*border-radius: 5px;
        border: 1px solid $grey-opacity;*/
        
        
        img {
        	width:100%;
        }
	    &_table-name {
			@extend a;
			padding: 0 10px 20px;
	    }
	}
}

.tables-name-special {
	font-size: 18px;
}




/* ------ media query ------ */
@include desktop {
	
}
@include laptop {
	.tables-title {
	    &__tables-topic {
	    	margin-top: 0;    	
	        font-size: 36px;
	    }    
	}
}
@include tablet {
	.tables-title__tables-topic {
	    font-size: 28px;
	    margin: 20px 0;
	}
	.collectionss {
		display: flex;
	    flex-direction: column;
	    align-items: center;
	}
    .tables-collection { 
    	max-width: 50%;
    	flex-direction: column;
    	align-items: center;   
	    &__table {
		    img {
	        }
		    &_table-name {
		    	font-size: 14px;
		    }
		}
	}
		.tables-name-special {
		font-size: 14px;
	}
}
@include tablet-mini {
    .tables-title__tables-topic {
	    font-size: 24px;
	    margin: 20px 0;
	}
	.collectionss {
		display: flex;
	    flex-direction: column;
	}
    .tables-collection { 
    	max-width: 50%;
    	flex-direction: column;
    	align-items: center;   
	    &__table {
		    img {
	        }
		    &_table-name {
		    	font-size: 14px;
		    }
		}
	}
		.tables-name-special {
		font-size: 14px;
	}
}
@include phone {
 	.tables-title__tables-topic {
	    font-size: 20px;
	    margin: 20px 0;
	}
	.collectionss {
		display: flex;
	    flex-direction: column;
	}
    .tables-collection { 
    	max-width: 50%;
    	flex-direction: column;
    	align-items: center; 
	    &__table {
	    	//width:45%;
		    img {
	        }
		    &_table-name {
		    	font-size: 10px;
		    }
		}
	}
	.tables-name-special {
		font-size: 11px;
	}
}
@include iphone-5 {
    .tables-title__tables-topic {
	    font-size: 20px;
	    margin: 10px 0;
	}
	.collectionss {
		display: flex;
	    flex-direction: column;
	}
    .tables-collection { 
    	max-width: 50%;
    	flex-direction: column;
    	align-items: center;   
	    &__table {
		    img {
	        }
		    &_table-name {
		    	font-size: 10px;
		    }
		}
	}
	.tables-name-special {
		font-size: 11px;
	}
}

