/* ------------ tables --------------- */
.tables-up-down {
	display: flex;
    align-items: center;
    
    min-height: 100vh;
}

.tables-wrap {
	display: flex;
	flex-direction: column;	
	align-items: center;
}

.tables-title {
	display: flex;
	justify-content: center;
    //flex-direction: column;
    //align-items: center;
    margin: 30px 0;
    &__tables-topic {
    	    	
		@extend h2;
        font-size: 40px;
    }    
}

.collectionss {
	display: flex;

}
.tables-collection {
	display: flex;
	justify-content: center;
    padding: 0;
    margin-top: 25px;
    //border-radius: 5px;
	//border: 1px solid rgba(130, 136, 147, 0.3);
    &__table {
    	display: flex;
		flex-direction: column;
		width: 65%;
    	align-items: center;
        img {
        	width: 100%;
        }
	    
	}
}

.table-name {
			@extend a;
			padding: 0 10px 20px;
}

.tables-name-special {
	font-size: 18px;
}




/* ------ media query ------ */
@include desktop {
	.tables-title {
		margin-top: 0;
	    &__tables-topic {
	    	    	
	        font-size: 36px;
	    }    
	}
	.tables-collection { 
	    &__table {
	    	width: 50%;
		    img {
	        }
		    &_table-name {
		    	font-size: 14px;
		    }
		}
	}
	.table-name {
		font-size: 14px;
	}
	.tables-name-special {
		font-size: 14px;
	}
}
@include laptop {
	.tables-title {
		margin-top: 0;
	    &__tables-topic {
	    	    	
	        font-size: 36px;
	    }    
	}
	.tables-collection { 
	    &__table {
	    	width: 50%;
		    img {
	        }
		    &_table-name {
		    	font-size: 14px;
		    }
		}
	}
	.table-name {
		font-size: 14px;
	}
	.tables-name-special {
		font-size: 14px;
	}

}
@include tablet {
	.tables-title {
		margin-top: 0;
		&__tables-topic {
		    font-size: 28px;
		}
	}
	.collectionss {
	    flex-direction: column;
	    align-items: center;
	}
    .table-name {
		font-size: 16px;
	}
	.tables-name-special {
		font-size: 16px;
	}
}
@include tablet-mini {
    .tables-title {
		margin: 0;
		&__tables-topic {
		    font-size: 24px;
		}
	}
	.collectionss {
	    flex-direction: column;
	    align-items: center;
	}
	.table-name {
		font-size: 11px;
	}
	.tables-name-special {
		font-size: 12px;
	}
}
@include phone {
 	.tables-title {
		margin: 0;
		&__tables-topic {
		    font-size: 20px;
		}
	}
	.collectionss {
		display: flex;
	    flex-direction: column;
	    align-items: center;
	}
    .tables-collection { 
    	max-width: 50%;
    	flex-direction: column;
    	align-items: center;
    	margin-top: 5px;
	    &__table {
	    	width:90%;
		}
	}
	.table-name {
		font-size: 11px;
	}
	.tables-name-special {
		font-size: 11px;
	}
}
@include iphone-5 {
    .tables-title {
		margin: 0;
		&__tables-topic {
		    font-size: 20px;
		}
	}
	.collectionss {
		display: flex;
	    flex-direction: column;
	    align-items: center;
	}
    .tables-collection { 
    	max-width: 50%;
    	flex-direction: column;
    	align-items: center;
    	margin-top: 5px;
	    &__table {
	    	width:90%;
		}
	}
	.table-name {
		font-size: 11px;
	}
	.tables-name-special {
		font-size: 11px;
	}
}

