/* ------------ variable --------------- */
body {
	font: {
		family: 'Nunito Sans', sans-serif;
		size: 16px;
		weight: $regular;
	}
	color: $blue-light;
}

.container {
	/* padding: 0; */
}


a {
	font: {
		family: 'Nunito Sans', sans-serif;
		size: 16px;
		weight: $bold;
	}	
	text-decoration: none;
	color: $blue-dark;
	&:hover {		
	    text-decoration: none;
	    color: $blue-light; 
	}
	/* &:visited {
		color: $purpur-dark;
	} */
	&:active {
		color: $blue-light;
	}
	&:focus {
		color: $purpur-extra-light;
	}	
}

ul {
	list-style: none;
}

h1 {
	font: {
			family: 'Archivo Narrow', sans-serif;
			size: 48px;
			weight: $light;
	}
	color: $white;
	line-height: 1.2;
    margin-bottom: 0;
}

h2 {
	font: {
		family: 'Judson', serif;
		size: 40px;
		weight: $regular;
	}
	line-height: 1.1;
	color: $purpur;	
}

h3 {
	font: {
		family: 'Nunito Sans', sans-serif;
		size: 24px;
		weight: $light;
	}
	color: $white;	
}

button {
	background-color: $orange;
	border-width: 0;
	border-radius: 4px;
	&:hover {
		background-color: $orange-light;
		transition: 1s;
	}
	a {
		@extend a;
		font-family: 'Archivo Narrow', sans-serif;
		font-size: 18px;
		text-transform: uppercase;	
		color: $blue-dark;
		&:hover {
			color: $blue-light;
			transition: 1s;
		}
    }
}

.fon {
	background-color: $purpur-extra-light;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
        
}

input {
	width: 100%;	
	border: 1px solid $white;
	background-color: $blue-grey;
	caret-color: $white;
	color: $white;	
}

input::placeholder  {
	display: flex;
	justify-content: start;
	color: $orange;
	opacity: 0.5;
	margin-left: 27px;	
}

/* .social-web {	
    display: flex;
    justify-content: space-between;
} */

@mixin television {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) and (max-width: 1599.98px) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: 992px) and (max-width: 1199.98px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 768px) and (max-width: 991.98px) {
    @content;
  }
}  
@mixin phone {
  @media (min-width: 576px) and (max-width: 767.98px) {
    @content;
  }
} 
@mixin iphone {
  @media (min-width: 320px) and (max-width: 575.98px) {
    @content;
  }
}



