/* ------------ video-review --------------- */
section-2 {    
    /* background: url('../images/skills-bg.png') no-repeat bottom; */
	display: flex;
	flex-direction: column;		
	position: relative;
	min-height: 100vh;	
}

/* .fon-about {
	@extend .fon;
    width: 35%;        
    left: 0;
    height: 100%;
    top: 0;    
} */

.review-wrap {
	display: flex;
	flex-direction: column;
	padding-bottom: 60.908px;
	//padding: 0;
	//margin-bottom: 149px;	    
}
.title-review {
		display: flex;
    	justify-content: center;
		margin-bottom: 20px;
		padding-top: 100px;
		@extend h2;
	}

.subtitle-review {
	display: flex;
	justify-content: center;
	@extend h2;
	font-size: 26px;
	margin-bottom: 38px;
}
.video-portfolio{
	display: flex;
    justify-content: center;
}
.video-table{
	width: 51%;
	@extend a;
	&:focus {
		outline: none;
	}
}
.go-portfolio{
	display: flex;
	justify-content: center;
}
.button-review {
	display: flex;
	justify-content: center;
	margin-top: 60px;
	margin-bottom: 15px;
	@extend button;		
	background-color: $orange;
	border: 1px solid $orange;
	&:hover {
		background-color: $white;
		border: 1px solid $orange;
	}
	a {
		color: $white;
		&:hover {
			color: $orange;
		}
	}
	&__btn {
		padding: 20px 54px;
					
	}
}	


/* ------ media query ------ */
@include phone {

}
@include iphone {

}
@include tablet {

}
@include laptop {

}
@include desktop {

}

/* 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  } 

 */