/* ------------ video-review --------------- */
section-2 {    
    /* background: url('../images/skills-bg.png') no-repeat bottom; */
	display: flex;
	flex-direction: column;		
	position: relative;
	min-height: 100vh;	
}


.review-wrap {
	display: flex;
	flex-direction: column;
	padding-top: 120px;
	&__title-review {
		display: flex;
    	justify-content: center;
		margin-bottom: 20px;
		padding-top: 100px;
		@extend h2;
	}
	&__video-portfolio{
		display: flex;
	    justify-content: center;
	}
	&__box-button-review {
		display: flex;
		justify-content: center;
	}
}

.video-table{
	width: 40%;
	@extend a;
	&:focus {
		outline: none;
	}
}

.button-review {
	display: flex;
	justify-content: center;
	margin-top: 60px;
	@extend button;		
	background-color: $orange;
	border: 1px solid $orange;
	&:hover {
		background-color: $white;
		border: 1px solid $orange;
	}
	a {
		color: $white;
		&:hover {
			color: $orange;
		}
	}
	&__btn {
		padding: 20px 54px;
					
	}
}	


/* ------ media query ------ */

@include desktop {
	.button-review {	
		a {
			font-size: 15px;
		}
		&__btn {
			padding: 15px 30px;					
		}
	}
	.video-table{
		width: 40%;
	}
}
@include laptop {
	.button-review {
		margin-top: 80px;	
		a {
			font-size: 15px;
		}
		&__btn {
			padding: 15px 30px;					
		}
	}
	.video-table{
		width: 36%;
	}
}
@include iPadPro-portrait {
	.button-review {
		margin-top: 80px;	
		a {
			font-size: 16px;
		}
		&__btn {
			padding: 15px 30px;					
		}
	}
	.video-table{
		width: 40%;
	}
	.video-table{
		width: 55%;
	}
}
@include iPadPro-landscape {
	.review-wrap {
		&__title-review {
			font-size: 36px;
			padding-top: 40px;
			margin-bottom: 0px;
		}
		&__video-portfolio{
		}
		&__box-button-review {
		}
	}
	.button-review {
		margin-top: 45px;	
		a {
			font-size: 16px;
		}
		&__btn {
			padding: 15px 30px;					
		}
	}
	.video-table{
		width: 40%;
	}
}
@include iPad-portrait {
	.review-wrap {
		&__title-review {
			font-size: 28px;
			padding-top: 40px;
			margin-bottom: 0px;
		}
		&__video-portfolio{
		}
		&__box-button-review {
		}
	}
	.button-review {
		margin-top: 60px;	
		a {
			font-size: 14px;
		}
		&__btn {
			padding: 15px 30px;					
		}
	}
	.video-table{
		width: 50%;
	}
}
@include iPad-landscape {
	.review-wrap {
		padding-top: 90px;
		&__title-review {
			font-size: 28px;
			padding-top: 0;
			margin-bottom: 0px;
		}
		&__video-portfolio{
		}
		&__box-button-review {
		}
	}
	.button-review {
		margin-top: 40px;	
		a {
			font-size: 14px;
		}
		&__btn {
			padding: 15px 30px;					
		}
	}
	.video-table{
		width: 32%;
	}
}

@include tablet {
	.video-table{
		width: 50%;
	}
}
@include iphone {
	.video-table{
		width: 20%;
	}
}
@include phone {
	.video-table{
		width: 10%;
	}
}

/* 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  } 

 */