@charset "UTF-8";
@font-face {
  font-family: 'Archivo Narrow', sans-serif;
  src: url("fonts/ArchivoNarrow/ArchivoNarrow-Regular.eot");
  src: url("fonts/ArchivoNarrow/ArchivoNarrow-Regular.eot") format("embedded-opentype"), url("fonts/ArchivoNarrow/ArchivoNarrow-Regular.woff2") format("woff2"), url("fonts/ArchivoNarrow/ArchivoNarrow-Regular.woff") format("woff"), url("fonts/ArchivoNarrow/ArchivoNarrow-Regular.ttf") format("truetype"), url("fonts/ArchivoNarrow/ArchivoNarrow-Regular.svg#PT_SerifWebBold") format("svg");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'Judson', serif;
  src: url("fonts/Judson/Judson-Regular.eot");
  src: url("fonts/Judson/Judson-Regular.eot") format("embedded-opentype"), url("fonts/Judson/Judson-Regular.woff2") format("woff2"), url("fonts/Judson/Judson-Regular.woff") format("woff"), url("fonts/Judson/Judson-Regular.ttf") format("truetype"), url("fonts/Judson/Judson-Regular.svg#PT_SansWebBold") format("svg");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'Nunito Sans', sans-serif;
  src: url("fonts/NunitoSans/NunitoSans-Regular.eot");
  src: url("fonts/NunitoSans/NunitoSans-Regular.eot") format("embedded-opentype"), url("fonts/NunitoSans/NunitoSans-Regular.woff2") format("woff2"), url("fonts/NunitoSans/NunitoSans-Regular.woff") format("woff"), url("fonts/NunitoSans/NunitoSans-Regular.ttf") format("truetype"), url("fonts/NunitoSans/NunitoSans-Regular.svg#PT_SansWebBold") format("svg");
  font-style: normal;
  font-weight: 400; }
/* 
<i class="fas fa-caret-up"></i>
<i class="fas fa-caret-down"></i>
<i class="fas fa-chevron-down"></i>
<i class="fas fa-chevron-up"></i>
<i class="fas fa-play"></i>
<i class="fas fa-redo-alt"></i>
<i class="fas fa-sort"></i>
<i class="fas fa-sync-alt"></i>
<i class="fas fa-angle-double-down"></i>
<i class="fas fa-angle-down"></i>
<i class="fas fa-angle-left"></i>
<i class="fas fa-angle-right"></i>
<i class="fas fa-angle-up"></i>
<i class="fas fa-arrows-alt-h"></i>
<i class="fas fa-exchange-alt"></i>
<i class="far fa-hand-point-right"></i>
<i class="far fa-hand-point-left"></i>
<i class="fas fa-circle"></i>
<i class="far fa-circle"></i>
<i class="fas fa-pause"></i>
<i class="far fa-play-circle"></i>
<i class="fas fa-play-circle"></i>
<i class="fas fa-video"></i>
<i class="fas fa-expand"></i>
<i class="fas fa-volume-up"></i>
<i class="fas fa-volume-mute"></i>
<i class="fas fa-phone"></i>
<i class="far fa-envelope"></i>
<i class="far fa-clock"></i>
<i class="fas fa-pencil-ruler"></i>
<i class="fas fa-phone-alt"></i>
<i class="fas fa-desktop"></i>
<i class="fas fa-keyboard"></i>
<i class="fas fa-laptop"></i>
<i class="fas fa-mouse"></i>
<i class="fas fa-print"></i>
<i class="fas fa-image"></i>

 */
/* ------------ variable --------------- */
body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #566ca5; }

.container {
  /* padding: 0; */ }

a, button a, .button-top a, .button-review a, .button-about a, .header-big__menu_link-group a, .logotype a, .language__Ru a, .language__En a, .gambyrger-menu__gambyrger-list_link-group a, i, .about-block-right__text-about_span-about, .portfolio-info__link-portfolio {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #1b255d;
  /* &:visited {
  	color: $purpur-dark;
  } */ }
  a:hover, i:hover, .about-block-right__text-about_span-about:hover, .portfolio-info__link-portfolio:hover {
    text-decoration: none;
    color: #566ca5; }
  a:active, i:active, .about-block-right__text-about_span-about:active, .portfolio-info__link-portfolio:active {
    color: #566ca5; }
  a:focus, i:focus, .about-block-right__text-about_span-about:focus, .portfolio-info__link-portfolio:focus {
    color: #ebebf4; }

ul, .header-big__menu, .gambyrger-menu__gambyrger-list {
  list-style: none; }

h1, .topic-main {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 52px;
  font-weight: #fafafd;
  color: #ffffff;
  line-height: 1.2;
  margin-bottom: 0; }

h2, .topic-title, .title-review, .subtitle-review, .title-about, .subtitle-about, .product__product-title, .portfolio-info__topic {
  font-family: 'Judson', serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.1;
  color: #431c43; }

h3, .topic-text {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24px;
  font-weight: #fafafd;
  color: #ffffff; }

button, .button-top, .button-review, .button-about {
  background-color: #f29257;
  border-width: 0;
  border-radius: 4px; }
  button:hover, .button-top:hover, .button-review:hover, .button-about:hover {
    background-color: #ffd0b3;
    transition: 2s; }
  button a, .button-top a, .button-review a, .button-about a, button .header-big__menu_link-group a, .header-big__menu_link-group button a, button .logotype a, .logotype button a, button .language__Ru a, .language__Ru button a, button .language__En a, .language__En button a, button .gambyrger-menu__gambyrger-list_link-group a, .gambyrger-menu__gambyrger-list_link-group button a, button i, .button-top i, .button-review i, .button-about i, button .about-block-right__text-about_span-about, .button-top .about-block-right__text-about_span-about, .button-review .about-block-right__text-about_span-about, .button-about .about-block-right__text-about_span-about, button .portfolio-info__link-portfolio, .button-top .portfolio-info__link-portfolio, .button-review .portfolio-info__link-portfolio, .button-about .portfolio-info__link-portfolio {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #1b255d; }
    button a:hover, .button-top a:hover, .button-review a:hover, .button-about a:hover, button i:hover, .button-top i:hover, .button-review i:hover, .button-about i:hover, button .about-block-right__text-about_span-about:hover, .button-top .about-block-right__text-about_span-about:hover, .button-review .about-block-right__text-about_span-about:hover, .button-about .about-block-right__text-about_span-about:hover, button .portfolio-info__link-portfolio:hover, .button-top .portfolio-info__link-portfolio:hover, .button-review .portfolio-info__link-portfolio:hover, .button-about .portfolio-info__link-portfolio:hover {
      color: #566ca5;
      transition: 2s; }

.fon {
  background-color: #ebebf4;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%; }

input {
  width: 100%;
  border: 1px solid #ffffff;
  background-color: #431c43;
  caret-color: #ffffff;
  color: #ffffff; }

input::placeholder {
  display: flex;
  justify-content: start;
  color: #ffffff;
  opacity: 0.5;
  margin-left: 27px; }

.social-web {
  display: flex;
  justify-content: space-between; }

/* ------------ header --------------- */
header {
  position: fixed;
  z-index: 101;
  width: 100%;
  background: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px; }

.header-wrap {
  display: flex;
  flex-direction: column;
  padding: 0; }

.header-top {
  display: flex;
  align-items: center;
  padding: 0;
  padding-top: 16px;
  justify-content: space-between;
  /* &__logotype {
  	display: flex;
      	justify-content: center;						
  	a {
  		@extend a;
  	    text-align: center;
  		font-size: 14px;			
  	}				
  } */
  /* &__language{
  	display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 14px;
  	&_Ru {
  		a {
  			@extend a;
  						
  		}
  	}
  	&_En {
  		display: none;
  		a {
  			
  			@extend a;
  						
  		}
  	}
  } */ }

.header-big__menu {
  width: 49%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-bottom: 6px;
  padding: 12px 0 0 0; }
  .header-big__menu_link-group a, .header-big__menu_link-group i, .header-big__menu_link-group .about-block-right__text-about_span-about, .header-big__menu_link-group .portfolio-info__link-portfolio {
    padding: 0px 4px 5px 4px; }

.logotype {
  display: flex;
  justify-content: center; }
  .logotype a, .logotype i, .logotype .about-block-right__text-about_span-about, .logotype .portfolio-info__link-portfolio {
    text-align: center;
    font-size: 14px; }

.header-phone {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.language {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px; }
  .language__Ru {
    color: #cb3d00; }
  .language__En {
    color: #cb3d00;
    display: none; }

/* for border in menu */
.selected {
  border-bottom: 1px solid #cb3d00; }
  .selected a, .selected i, .selected .about-block-right__text-about_span-about, .selected .portfolio-info__link-portfolio {
    border-bottom: 1px solid #ff9571; }

/* byrger-menu start*/
.byrger {
  display: flex;
  align-items: center; }

.byrger-menu {
  display: flex;
  text-align: right;
  padding-top: 9px; }
  .byrger-menu__byrger-icon {
    /* visibility: hidden; */
    display: none;
    width: 24px;
    height: 25px;
    position: relative;
    cursor: pointer; }
    .byrger-menu__byrger-icon_line {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #312a31;
      border-radius: 6px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out; }

.line-1 {
  top: 0px; }

.line-3, .line-2 {
  top: 7px; }

.line-4 {
  top: 14px; }

/* byrger-menu finish*/
/* gambyrger-menu start*/
.gambyrger {
  display: flex;
  flex-direction: column; }

.gambyrger-menu {
  display: flex;
  justify-content: flex-end; }
  .gambyrger-menu__gambyrger-list {
    display: none;
    height: 100vh;
    padding-left: 0; }
    .gambyrger-menu__gambyrger-list_link-group a, .gambyrger-menu__gambyrger-list_link-group i, .gambyrger-menu__gambyrger-list_link-group .about-block-right__text-about_span-about, .gambyrger-menu__gambyrger-list_link-group .portfolio-info__link-portfolio {
      padding: 0px 4px;
      color: #ebebf4; }
      .gambyrger-menu__gambyrger-list_link-group a:hover, .gambyrger-menu__gambyrger-list_link-group i:hover, .gambyrger-menu__gambyrger-list_link-group .about-block-right__text-about_span-about:hover, .gambyrger-menu__gambyrger-list_link-group .portfolio-info__link-portfolio:hover {
        border-bottom: 2px solid #ff9571;
        color: #8e86ac; }

.popap {
  padding-top: 20px; }

.pop {
  margin-bottom: 7px; }

.byrger-menu.byrger-menu_state_open .byrger-menu__byrger-icon .line-1 {
  top: 18px;
  width: 0%;
  left: 50%; }

.byrger-menu.byrger-menu_state_open .byrger-menu__byrger-icon .line-2 {
  transform: rotate(45deg); }

.byrger-menu.byrger-menu_state_open .byrger-menu__byrger-icon .line-3 {
  transform: rotate(-45deg); }

.byrger-menu.byrger-menu_state_open .byrger-menu__byrger-icon .line-4 {
  top: 18px;
  width: 0%;
  left: 50%; }

.byrger-menu.byrger-menu_state_open .gambyrger-menu {
  display: block; }

/* gambyrger-menu finish*/
/* ------ media query ------ */
section-1 {
  background: url("../images/Home-photo4.png") no-repeat top fixed;
  display: flex;
  flex-direction: column;
  padding-top: 122px;
  background-size: cover; }

.home-wrap {
  width: 100%;
  min-height: 92vh;
  display: flex;
  flex-direction: column; }

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 0; }

.topic-main {
  padding-top: 9px; }

.topic-title {
  color: #ffffff;
  padding-top: 23px; }

.topic-text {
  padding-top: 23px;
  margin-bottom: 36px;
  font-size: 32px; }

.block-topic {
  text-align: center; }

.blok-button {
  display: flex;
  flex-direction: column; }

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 52%; }

.button-home {
  margin-top: 84px; }

.button-top {
  display: flex;
  opacity: 0.7; }
  .button-top_btn {
    padding: 20px 33px; }

.scroll-arrow {
  display: flex;
  justify-content: center;
  padding-top: 450px; }

i {
  color: #ffffff;
  font-size: 1.6em; }

#scroll-home {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }

/* ------------ video-review --------------- */
section-2 {
  /* background: url('../images/skills-bg.png') no-repeat bottom; */
  display: flex;
  flex-direction: column;
  position: relative; }

/* .fon-about {
	@extend .fon;
    width: 35%;        
    left: 0;
    height: 100%;
    top: 0;    
} */
.review-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px; }

.title-review {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 25px; }

.subtitle-review {
  display: flex;
  justify-content: center;
  font-size: 26px;
  margin-bottom: 38px; }

.video-portfolio {
  display: flex;
  justify-content: center; }

.video-table {
  width: 51%; }

.go-portfolio {
  display: flex;
  justify-content: center; }

.button-review {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 15px;
  background-color: #f29257;
  border: 1px solid #f29257; }
  .button-review:hover {
    background-color: #ffffff;
    border: 1px solid #f29257; }
  .button-review a, .button-review i, .button-review .about-block-right__text-about_span-about, .button-review .portfolio-info__link-portfolio {
    color: #ffffff; }
    .button-review a:hover, .button-review i:hover, .button-review .about-block-right__text-about_span-about:hover, .button-review .portfolio-info__link-portfolio:hover {
      color: #f29257; }
  .button-review_btn {
    padding: 20px 54px; }

/* ------ media query ------ */
/* ------------ about --------------- */
section-3 {
  /* background: url('../images/skills-bg.png') no-repeat bottom; */
  display: flex;
  flex-direction: column;
  background-color: #828893;
  padding-bottom: 166px;
  padding-top: 178px; }

.about-wrap {
  display: flex;
  flex-direction: column;
  align-items: center; }

.title-about {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 25px;
  color: #f29257; }

.subtitle-about {
  display: flex;
  justify-content: center;
  font-size: 26px;
  color: #ffffff;
  margin-bottom: 38px;
  margin-top: 50px; }

.go-portfolio {
  display: flex;
  justify-content: center; }

.button-about {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #f29257; }
  .button-about:hover {
    background-color: #f29257;
    border: 1px solid #f29257; }
  .button-about a, .button-about i, .button-about .about-block-right__text-about_span-about, .button-about .portfolio-info__link-portfolio {
    color: #f29257; }
    .button-about a:hover, .button-about i:hover, .button-about .about-block-right__text-about_span-about:hover, .button-about .portfolio-info__link-portfolio:hover {
      color: #ffffff; }
  .button-about_btn {
    padding: 20px 54px; }

.about-block-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 112px; }
  .about-block-right__text-about {
    text-align: justify;
    color: #ffffff;
    padding-left: 40px;
    margin-bottom: 107px; }
    .about-block-right__text-about_span-about {
      color: #f29257;
      cursor: pointer; }

.block-left__foto-about {
  position: relative;
  overflow: hidden;
  width: 550px;
  height: 550px;
  border-radius: 50%; }

.table-foto-about {
  width: 100%;
  margin-top: -100px; }

/* .about-block-left {
	display: flex;
    justify-content: flex-start;	
	padding: 0;
	margin-top: 120px;
	@media (min-width: 992px) and (max-width: 1059.98px) {
    	justify-content: center;
	}	
	&__foto-portfolio {
	    width: 68%;
	    position: relative;
	    overflow: hidden;
	    display: flex;
	    justify-content: center;
	    &_fotoMaket {
    	    min-width: 100%;
		    min-height: 100%;
		    position: absolute;
		    display: flex;
	    }
	}
} */
/* 

	&__subtitle-about {
		display: flex;
    	justify-content: center;
		@extend h2;
		font-size: 26px;
		margin-bottom: 38px;
	}
	&__block-foto {
	    width: 100%;
		display: flex;
        justify-content: space-between;
        &_topic-about {
	    	display: flex;
	    	flex-direction: column;
	    	align-items: center;
        }		
	}
	&__button-about {
	    margin-top: -42px;
		display: flex;
    	justify-content: center;
    	@extend button;		
		background-color: $purpur;
		border: 1px solid $purpur;
		&:hover {
			background-color: $white;
			border: 1px solid $purpur;
		}
		a {
			color: $white;
			&:hover {
				color: $purpur-pink;
			}
		}
		&_btn {
			padding: 20px 54px;
						
		}
	}
} */
/* .topic {
	display: flex;
    justify-content: center;
	font-weight: $bold;
	color: $purpur-grey;		
	text-transform: uppercase;
    padding-top: 22px;
    padding-bottom: 10px;    
} */
/* .fotos {
    display: flex;
	overflow: hidden;
    width: 100%;
    height: 54%;
    border: 2px solid $purpur-grey;   
}
 */
/* .bl {
	background: url('../images/skills-bg.png') no-repeat;
	display: flex;
	width: 100%;
	height: auto;
	background-size: cover;
} */
/* .block-bottom {	
	display: flex;
	flex-direction: column;
	padding: 0;
	&__topic-skills {
	    display: flex;
	    justify-content: center;
	    padding-top: 56px;
	    margin-bottom: 52px;
		@extend h2;
		color: $white;
		font-size: 60px;
	}
	&__skills {
		display: flex;
	    justify-content: space-between;
	    padding-bottom: 72px;
		font: {
			family: 'Archivo Narrow', sans-serif;
			size: 34px;
			weight: $regular;
		}		
		color: $white;
	}
} */
/* ------ media query ------ */
/* ------------ products --------------- */
section-4 {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  margin-bottom: 300px; }

.product {
  display: flex;
  justify-content: center;
  margin-bottom: 90px; }

.product-images {
  display: flex;
  flex-direction: column; }
  .product-images__picture1 {
    height: 150px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center; }
  .product-images__picture2 {
    height: 150px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center; }

.product-image {
  width: 40%;
  position: absolute;
  margin-top: -80px; }

.product-characteristic {
  display: flex;
  margin-bottom: 7px; }

.character {
  display: flex;
  justify-content: flex-end;
  flex-direction: column; }

/* ------------ portfolio --------------- */
section-5 {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  margin-bottom: 20px; }

.portfolio-info {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .portfolio-info__topic {
    margin-bottom: 30px; }
  .portfolio-info__text-portfolio {
    width: 50%;
    text-align: center;
    color: #1b255d; }
  .portfolio-info__link-portfolio {
    color: #f29257;
    cursor: pointer; }

.portfolio-right {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .portfolio-right__projeсts-portfolio {
    margin-bottom: 20px; }

.project-big-foto {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 700px; }

.project {
  position: relative;
  overflow: hidden;
  width: 170px;
  height: 130px; }

.fotoProject-big {
  margin-top: -265px;
  width: 100%; }

.fotoProject {
  width: 100%;
  margin-top: -65px; }

.caret {
  color: #f29257; }

.two-line {
  display: none; }

/* .portfolio {
	display: flex;
}

.portfolio-left {
	
}

.portfolio-info {    
    	
	&__topic {			
		
	}
	
	&__text-portfolio {
	   
	}
	&__link-portfolio {

	}
}





.project-2 {
	
	img {
		
	}
}

.project-3 {	
	img {
		
	}
}

.project-4 {
	
}

.project-box {
    
       
}



.one-line {
		
}

.three-line {
	
}

.two-line {
	
}

.fon-portfolio {
	    
} */
/* ------ media query ------ */
/* -------- fonts -------- */
/* -------- colors -------- */
/* -------- variables -------- */
/* -------- header -------- */
/* -------- home -------- */
/* -------- video-review -------- */
/* -------- about -------- */
/* -------- products -------- */
/* -------- portfolio -------- */
/* -------- blog -------- */
/* -------- footer -------- */

/*# sourceMappingURL=style.css.map */
