@charset "UTF-8";
@font-face {
  font-family: 'Archivo Narrow', sans-serif;
  src: url("fonts/ArchivoNarrow/ArchivoNarrow-Regular.eot");
  src: url("fonts/ArchivoNarrow/ArchivoNarrow-Regular.eot") format("embedded-opentype"), url("fonts/ArchivoNarrow/ArchivoNarrow-Regular.woff2") format("woff2"), url("fonts/ArchivoNarrow/ArchivoNarrow-Regular.woff") format("woff"), url("fonts/ArchivoNarrow/ArchivoNarrow-Regular.ttf") format("truetype"), url("fonts/ArchivoNarrow/ArchivoNarrow-Regular.svg#PT_SerifWebBold") format("svg");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'Judson', serif;
  src: url("fonts/Judson/Judson-Regular.eot");
  src: url("fonts/Judson/Judson-Regular.eot") format("embedded-opentype"), url("fonts/Judson/Judson-Regular.woff2") format("woff2"), url("fonts/Judson/Judson-Regular.woff") format("woff"), url("fonts/Judson/Judson-Regular.ttf") format("truetype"), url("fonts/Judson/Judson-Regular.svg#PT_SansWebBold") format("svg");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'Nunito Sans', sans-serif;
  src: url("fonts/NunitoSans/NunitoSans-Regular.eot");
  src: url("fonts/NunitoSans/NunitoSans-Regular.eot") format("embedded-opentype"), url("fonts/NunitoSans/NunitoSans-Regular.woff2") format("woff2"), url("fonts/NunitoSans/NunitoSans-Regular.woff") format("woff"), url("fonts/NunitoSans/NunitoSans-Regular.ttf") format("truetype"), url("fonts/NunitoSans/NunitoSans-Regular.svg#PT_SansWebBold") format("svg");
  font-style: normal;
  font-weight: 400; }
/*
<i class="fas fa-chevron-circle-up"></i> 
<i class="fas fa-caret-up"></i>
<i class="fas fa-caret-down"></i>
<i class="fas fa-chevron-down"></i>
<i class="fas fa-chevron-up"></i>
<i class="fas fa-play"></i>
<i class="fas fa-redo-alt"></i>
<i class="fas fa-sort"></i>
<i class="fas fa-sync-alt"></i>
<i class="fas fa-angle-double-down"></i>
<i class="fas fa-angle-down"></i>
<i class="fas fa-angle-left"></i>
<i class="fas fa-angle-right"></i>
<i class="fas fa-angle-up"></i>
<i class="fas fa-arrows-alt-h"></i>
<i class="fas fa-exchange-alt"></i>
<i class="far fa-hand-point-right"></i>
<i class="far fa-hand-point-left"></i>
<i class="fas fa-circle"></i>
<i class="far fa-circle"></i>
<i class="fas fa-pause"></i>
<i class="far fa-play-circle"></i>
<i class="fas fa-play-circle"></i>
<i class="fas fa-video"></i>
<i class="fas fa-expand"></i>
<i class="fas fa-volume-up"></i>
<i class="fas fa-volume-mute"></i>
<i class="fas fa-phone"></i>
<i class="far fa-envelope"></i>
<i class="far fa-clock"></i>
<i class="fas fa-pencil-ruler"></i>
<i class="fas fa-phone-alt"></i>
<i class="fas fa-desktop"></i>
<i class="fas fa-keyboard"></i>
<i class="fas fa-laptop"></i>
<i class="fas fa-mouse"></i>
<i class="fas fa-print"></i>
<i class="fas fa-image"></i>
<i class="fab fa-instagram"></i>
 */
/* ------------ variable --------------- */
body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #566ca5; }

.container {
  /* padding: 0; */ }

a, button a, .button-top a, .button-review a, .button-about a, .form-contact__form-content_form-submit a, .header-nav__link-group a, .logotype a, .language__Ru a, .language__En a, .gambyrger-menu__gambyrger-list_link-group a, .video-table, .block-right__text-about_span-about, .portfolio-info__link-portfolio, .footer-wrap__menu-footer_vertical-menu_link-group a, .footer-wrap__footer-contact_footer-email a {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #1b255d;
  /* &:visited {
  	color: $blue-light;
  } */
  /* &:alink {
  		color: $blue-grey;
  	} */ }
  a:hover, .video-table:hover, .block-right__text-about_span-about:hover, .portfolio-info__link-portfolio:hover {
    text-decoration: none;
    color: #566ca5; }
  a:active, .video-table:active, .block-right__text-about_span-about:active, .portfolio-info__link-portfolio:active {
    color: #566ca5; }
  a:focus, .video-table:focus, .block-right__text-about_span-about:focus, .portfolio-info__link-portfolio:focus {
    color: #566ca5; }

ul, .header-nav, .gambyrger-menu__gambyrger-list, .footer-wrap__menu-footer_vertical-menu {
  list-style: none; }

h1, .main__main-title_title {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 60px;
  font-weight: #fafafd;
  color: #ffffff;
  line-height: 1.2;
  margin-bottom: 0; }

h2, .main__main-title_topic, .review-wrap__title-review, .block-right__title-about, .block-right__subtitle-about, .product__product-title, .portfolio-info__topic, .blog-title__topic-blog, .form-contact__form-title {
  font-family: 'Judson', serif;
  font-size: 46px;
  font-weight: 400;
  line-height: 1.1;
  color: #431c43; }

h3 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24px;
  font-weight: #fafafd;
  color: #ffffff; }

button, .button-top, .button-review, .button-about, .form-contact__form-content_form-submit {
  background-color: #f29257;
  border-width: 0;
  border-radius: 4px; }
  button:hover, .button-top:hover, .button-review:hover, .button-about:hover, .form-contact__form-content_form-submit:hover {
    background-color: #ffd0b3;
    transition: 1s; }
  button a, .button-top a, .button-review a, .button-about a, .form-contact__form-content_form-submit a, button .header-nav__link-group a, .header-nav__link-group button a, button .logotype a, .logotype button a, button .language__Ru a, .language__Ru button a, button .language__En a, .language__En button a, button .gambyrger-menu__gambyrger-list_link-group a, .gambyrger-menu__gambyrger-list_link-group button a, button .video-table, .button-top .video-table, .button-review .video-table, .button-about .video-table, .form-contact__form-content_form-submit .video-table, button .block-right__text-about_span-about, .button-top .block-right__text-about_span-about, .button-review .block-right__text-about_span-about, .button-about .block-right__text-about_span-about, .form-contact__form-content_form-submit .block-right__text-about_span-about, button .portfolio-info__link-portfolio, .button-top .portfolio-info__link-portfolio, .button-review .portfolio-info__link-portfolio, .button-about .portfolio-info__link-portfolio, .form-contact__form-content_form-submit .portfolio-info__link-portfolio, button .footer-wrap__menu-footer_vertical-menu_link-group a, .footer-wrap__menu-footer_vertical-menu_link-group button a, button .footer-wrap__footer-contact_footer-email a, .footer-wrap__footer-contact_footer-email button a {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #1b255d; }
    button a:hover, .button-top a:hover, .button-review a:hover, .button-about a:hover, .form-contact__form-content_form-submit a:hover, button .video-table:hover, .button-top .video-table:hover, .button-review .video-table:hover, .button-about .video-table:hover, .form-contact__form-content_form-submit .video-table:hover, button .block-right__text-about_span-about:hover, .button-top .block-right__text-about_span-about:hover, .button-review .block-right__text-about_span-about:hover, .button-about .block-right__text-about_span-about:hover, .form-contact__form-content_form-submit .block-right__text-about_span-about:hover, button .portfolio-info__link-portfolio:hover, .button-top .portfolio-info__link-portfolio:hover, .button-review .portfolio-info__link-portfolio:hover, .button-about .portfolio-info__link-portfolio:hover, .form-contact__form-content_form-submit .portfolio-info__link-portfolio:hover {
      color: #566ca5;
      transition: 1s; }

.fon {
  background-color: #ebebf4;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%; }

input {
  width: 100%;
  border: 1px solid #ffffff;
  background-color: #828893;
  caret-color: #ffffff;
  color: #ffffff; }

input::placeholder {
  display: flex;
  justify-content: start;
  color: #f29257;
  opacity: 0.5;
  margin-left: 27px; }

/* .social-web {	
    display: flex;
    justify-content: space-between;
} */
/* ---- iPadPro ---- */
/* ---- iPad ---- */
/* 
ipadPro
@mixin iPad-Pro {
  @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    @content;
  }
}
@mixin iPad-Pro-portrait {
  @media only screen 
  and (min-device-width: 1024px) 
  and (max-device-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2)  
  and (orientation: portrait) {
    @content;
  }
}
@mixin iPad-Pro-landscape {
  @media only screen 
  and (min-device-width: 1366px) 
  and (max-device-height: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2)  
  and (orientation: landscape) {
    @content;
  }
}
ipad
@mixin tablet-ipad {
  
}
@mixin tablet-ipad-portrait {
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : portrait)
	and (-webkit-min-device-pixel-ratio: 2) {
    	@content;
	}
}
@mixin tablet-ipad-landscape {
    @media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : landscape)
	and (-webkit-min-device-pixel-ratio: 2) {
	    @content;
	}
}
 */
/* 

@include iPadPro-portrait {
}
@include iPadPro-landscape {
}
@include iPad-portrait {
}
@include iPad-landscape {
} 
*/
/* ------------ header --------------- */
header {
  position: fixed;
  z-index: 101;
  width: 100%;
  background: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.95; }

menu {
  display: flex;
  align-items: center; }

.header-nav {
  width: 49%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-bottom: 6px;
  padding: 12px 0 0 0; }
  .header-nav__link-group a, .header-nav__link-group .video-table, .header-nav__link-group .block-right__text-about_span-about, .header-nav__link-group .portfolio-info__link-portfolio {
    padding: 0px 4px 5px 4px; }

.link-active.active {
  color: #566ca5; }

/* for border in menu */
.selected {
  border-bottom: 1px solid #cb3d00; }
  .selected a, .selected .video-table, .selected .block-right__text-about_span-about, .selected .portfolio-info__link-portfolio {
    border-bottom: 1px solid #ff9571; }

/* byrger-menu start*/
.byrger-menu {
  display: flex;
  text-align: right;
  padding-top: 9px; }
  .byrger-menu__byrger-icon {
    /* visibility: hidden; */
    display: none;
    width: 24px;
    height: 25px;
    position: relative;
    cursor: pointer; }
    .byrger-menu__byrger-icon_line {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #312a31;
      border-radius: 6px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out; }

.line-1 {
  top: 0px; }

.line-3, .line-2 {
  top: 7px; }

.line-4 {
  top: 14px; }

/* byrger-menu finish*/
.logotype {
  display: flex;
  justify-content: center; }
  .logotype a, .logotype .video-table, .logotype .block-right__text-about_span-about, .logotype .portfolio-info__link-portfolio {
    text-align: center;
    font-size: 14px; }

.header-phone {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.language {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px; }
  .language__Ru {
    color: #cb3d00; }
  .language__En {
    color: #cb3d00;
    display: none; }

/* -----  gambyrger-menu start  -----*/
.gambyrger {
  display: flex;
  flex-direction: column; }

.gambyrger-menu {
  display: flex;
  justify-content: flex-end; }
  .gambyrger-menu__gambyrger-list {
    display: none;
    height: 100vh;
    padding-left: 0; }
    .gambyrger-menu__gambyrger-list_link-group a, .gambyrger-menu__gambyrger-list_link-group .video-table, .gambyrger-menu__gambyrger-list_link-group .block-right__text-about_span-about, .gambyrger-menu__gambyrger-list_link-group .portfolio-info__link-portfolio {
      padding: 0px 4px;
      color: #ebebf4; }
      .gambyrger-menu__gambyrger-list_link-group a:hover, .gambyrger-menu__gambyrger-list_link-group .video-table:hover, .gambyrger-menu__gambyrger-list_link-group .block-right__text-about_span-about:hover, .gambyrger-menu__gambyrger-list_link-group .portfolio-info__link-portfolio:hover {
        border-bottom: 2px solid #ff9571;
        color: #8e86ac; }

.popap {
  padding-top: 20px; }

.pop {
  margin-bottom: 7px; }

.byrger-menu.byrger-menu_state_open .byrger-menu__byrger-icon .line-1 {
  top: 18px;
  width: 0%;
  left: 50%; }

.byrger-menu.byrger-menu_state_open .byrger-menu__byrger-icon .line-2 {
  transform: rotate(45deg); }

.byrger-menu.byrger-menu_state_open .byrger-menu__byrger-icon .line-3 {
  transform: rotate(-45deg); }

.byrger-menu.byrger-menu_state_open .byrger-menu__byrger-icon .line-4 {
  top: 18px;
  width: 0%;
  left: 50%; }

.byrger-menu.byrger-menu_state_open .gambyrger-menu {
  display: block; }

/* -----  gambyrger-menu finish  -----*/
/* ------ media query ------ */
/* 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  } 

 */
section-1 {
  display: flex; }

.home {
  background: url("../images/Home-photo4.png") no-repeat top fixed;
  width: 100%;
  min-height: 100vh;
  display: flex;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.home-wrap {
  display: flex;
  /* flex-direction: column;
  align-items: center;	
  position: relative; */
  min-height: 100vh;
  padding-top: 320px; }

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 0; }
  .main__main-title {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main__main-title_title {
      padding-top: 0; }
    .main__main-title_topic {
      color: #ffffff;
      padding-top: 23px; }
    .main__main-title_main-button {
      margin-top: 65px; }

.button-top {
  display: flex;
  background-color: #ffffff; }
  .button-top:hover {
    background-color: #f29257; }
  .button-top a, .button-top .video-table, .button-top .block-right__text-about_span-about, .button-top .portfolio-info__link-portfolio {
    font-family: 'Nunito Sans', sans-serif;
    text-transform: none;
    color: #f29257;
    font-size: 25px; }
    .button-top a:hover, .button-top .video-table:hover, .button-top .block-right__text-about_span-about:hover, .button-top .portfolio-info__link-portfolio:hover {
      color: #ffffff; }
  .button-top__btn {
    padding: 25px 60px; }

.scroll-link {
  display: flex;
  scroll-behavior: smooth;
  justify-content: center;
  align-items: center;
  bottom: 100px; }
  .scroll-link__link-arrow {
    width: 100%;
    z-index: 1;
    margin-top: 4px; }

.fa-circle {
  color: #ffffff;
  position: absolute;
  opacity: 0.5;
  z-index: 1; }

/* ------ media query ------ */
@media (min-width: 1600px) and (max-width: 1899.98px) {
  .home-wrap {
    padding-top: 0; }

  .main {
    align-items: start;
    padding-top: 122px; }
    .main__main-title_title {
      font-size: 60px; }
    .main__main-title_topic {
      font-size: 40px; }
    .main__main-title_main-button {
      margin-top: 40px; }

  .button-top a, .button-top .video-table, .button-top .block-right__text-about_span-about, .button-top .portfolio-info__link-portfolio {
    font-size: 22px; }
  .button-top__btn {
    padding: 18px 40px; }

  .scroll-link {
    font-size: 12px; }
    .scroll-link__link-arrow {
      width: 80%; } }
@media (min-width: 1200px) and (max-width: 1599.98px) {
  .home-wrap {
    padding-top: 0; }

  .main__main-title {
    padding-top: 70px; }
    .main__main-title_title {
      font-size: 40px; }
    .main__main-title_topic {
      font-size: 30px; }
    .main__main-title_main-button {
      margin-top: 40px; }

  .button-top a, .button-top .video-table, .button-top .block-right__text-about_span-about, .button-top .portfolio-info__link-portfolio {
    font-size: 18px; }
  .button-top__btn {
    padding: 15px 30px; }

  .scroll-link {
    bottom: 80px;
    font-size: 10px; }
    .scroll-link__link-arrow {
      width: 65%; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .home-wrap {
    padding-top: 0; }

  .main__main-title_title {
    padding-top: 80px;
    font-size: 40px; }
  .main__main-title_topic {
    font-size: 30px; }
  .main__main-title_main-button {
    margin-top: 40px; }

  .button-top a, .button-top .video-table, .button-top .block-right__text-about_span-about, .button-top .portfolio-info__link-portfolio {
    font-size: 18px; }
  .button-top__btn {
    padding: 15px 30px; } }
/* ---- iPadPro ---- */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .home {
    -webkit-background-size: cover; }

  .home-wrap {
    padding-top: 0; }

  .main__main-title {
    padding-top: 0; }
    .main__main-title_title {
      font-size: 50px;
      padding-top: 0; }
    .main__main-title_topic {
      font-size: 40px; }
    .main__main-title_main-button {
      margin-top: 40px; }

  .button-top a, .button-top .video-table, .button-top .block-right__text-about_span-about, .button-top .portfolio-info__link-portfolio {
    font-size: 16px; }
  .button-top__btn {
    padding: 15px 30px; }

  .scroll-link {
    bottom: 50px;
    font-size: 10px; }
    .scroll-link__link-arrow {
      width: 75%; } }
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .home-wrap {
    padding-top: 0; }

  .main__main-title {
    padding-top: 160px; }
    .main__main-title_title {
      font-size: 50px; }
    .main__main-title_topic {
      font-size: 40px; }
    .main__main-title_main-button {
      margin-top: 40px; }

  .button-top a, .button-top .video-table, .button-top .block-right__text-about_span-about, .button-top .portfolio-info__link-portfolio {
    font-size: 16px; }
  .button-top__btn {
    padding: 15px 30px; }

  .scroll-link {
    font-size: 10px; }
    .scroll-link__link-arrow {
      width: 75%; } }
/* ---- iPad ---- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .home-wrap {
    padding-top: 0; }

  .main__main-title {
    padding-top: 0; }
    .main__main-title_title {
      font-size: 36px; }
    .main__main-title_topic {
      font-size: 28px; }
    .main__main-title_main-button {
      margin-top: 22px; }

  .button-top a, .button-top .video-table, .button-top .block-right__text-about_span-about, .button-top .portfolio-info__link-portfolio {
    font-size: 14px; }
  .button-top__btn {
    padding: 12px 22px; }

  .scroll-link {
    bottom: 50px;
    font-size: 10px; }
    .scroll-link__link-arrow {
      width: 75%; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .main {
    padding-top: 94px; }
    .main__main-title_main-button {
      margin-top: 22px; }

  .scroll-link {
    bottom: 50px; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .main__main-title_main-button {
    margin-top: 30px; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .home-wrap {
    padding-top: 0; }

  .main {
    align-items: center;
    padding-top: 0; }
    .main__main-title_title {
      padding-top: 0;
      font-size: 40px; }
    .main__main-title_topic {
      font-size: 30px; }
    .main__main-title_main-button {
      margin-top: 40px; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .main {
    align-items: center;
    padding-top: 0; }
    .main__main-title_title {
      padding-top: 0;
      font-size: 25px; }
    .main__main-title_topic {
      font-size: 18px; }
    .main__main-title_main-button {
      margin-top: 20px; } }
/* 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  } 

 */
/* ------------ video-review --------------- */
section-2 {
  /* background: url('../images/skills-bg.png') no-repeat bottom; */
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh; }

.review-wrap {
  display: flex;
  flex-direction: column;
  padding-top: 120px; }
  .review-wrap__title-review {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 100px; }
  .review-wrap__video-portfolio {
    display: flex;
    justify-content: center; }
  .review-wrap__box-button-review {
    display: flex;
    justify-content: center; }

.video-table {
  width: 40%; }
  .video-table:focus {
    outline: none; }

.button-review {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  background-color: #f29257;
  border: 1px solid #f29257; }
  .button-review:hover {
    background-color: #ffffff;
    border: 1px solid #f29257; }
  .button-review a, .button-review .video-table, .button-review .block-right__text-about_span-about, .button-review .portfolio-info__link-portfolio {
    color: #ffffff; }
    .button-review a:hover, .button-review .video-table:hover, .button-review .block-right__text-about_span-about:hover, .button-review .portfolio-info__link-portfolio:hover {
      color: #f29257; }
  .button-review__btn {
    padding: 20px 54px; }

/* ------ media query ------ */
@media (min-width: 1200px) and (max-width: 1599.98px) {
  .button-review a, .button-review .video-table, .button-review .block-right__text-about_span-about, .button-review .portfolio-info__link-portfolio {
    font-size: 15px; }
  .button-review__btn {
    padding: 15px 30px; }

  .video-table {
    width: 40%; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .button-review {
    margin-top: 80px; }
    .button-review a, .button-review .video-table, .button-review .block-right__text-about_span-about, .button-review .portfolio-info__link-portfolio {
      font-size: 15px; }
    .button-review__btn {
      padding: 15px 30px; }

  .video-table {
    width: 36%; } }
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .button-review {
    margin-top: 80px; }
    .button-review a, .button-review .video-table, .button-review .block-right__text-about_span-about, .button-review .portfolio-info__link-portfolio {
      font-size: 16px; }
    .button-review__btn {
      padding: 15px 30px; }

  .video-table {
    width: 40%; }

  .video-table {
    width: 55%; } }
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .review-wrap__title-review {
    font-size: 36px;
    padding-top: 40px;
    margin-bottom: 0px; }

  .button-review {
    margin-top: 45px; }
    .button-review a, .button-review .video-table, .button-review .block-right__text-about_span-about, .button-review .portfolio-info__link-portfolio {
      font-size: 16px; }
    .button-review__btn {
      padding: 15px 30px; }

  .video-table {
    width: 40%; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .review-wrap__title-review {
    font-size: 28px;
    padding-top: 40px;
    margin-bottom: 0px; }

  .button-review {
    margin-top: 60px; }
    .button-review a, .button-review .video-table, .button-review .block-right__text-about_span-about, .button-review .portfolio-info__link-portfolio {
      font-size: 14px; }
    .button-review__btn {
      padding: 15px 30px; }

  .video-table {
    width: 50%; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .review-wrap {
    padding-top: 90px; }
    .review-wrap__title-review {
      font-size: 28px;
      padding-top: 0;
      margin-bottom: 0px; }

  .button-review {
    margin-top: 40px; }
    .button-review a, .button-review .video-table, .button-review .block-right__text-about_span-about, .button-review .portfolio-info__link-portfolio {
      font-size: 14px; }
    .button-review__btn {
      padding: 15px 30px; }

  .video-table {
    width: 32%; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .video-table {
    width: 50%; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .video-table {
    width: 20%; } }
@media (min-width: 320px) and (max-width: 575.98px) {
  .video-table {
    width: 10%; } }
/* 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  } 

 */
/* ------------ about --------------- */
section-3 {
  display: flex;
  min-height: 100vh;
  background-color: #828893; }

.block-about {
  display: flex;
  padding-top: 178px; }

.block-left__foto-about {
  position: relative;
  overflow: hidden;
  width: 550px;
  height: 550px;
  border-radius: 50%; }

.table-foto-about {
  width: 100%;
  margin-top: -100px; }

.block-right {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .block-right__title-about {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 25px;
    color: #f29257; }
  .block-right__subtitle-about {
    display: flex;
    justify-content: center;
    font-size: 26px;
    color: #ffffff;
    margin-bottom: 38px;
    margin-top: 50px; }
  .block-right__block-left {
    display: none; }
    .block-right__block-left_foto-about {
      position: relative;
      overflow: hidden;
      width: 550px;
      height: 550px;
      border-radius: 50%; }
  .block-right__text-about {
    text-align: justify;
    color: #ffffff;
    padding-left: 40px;
    margin-bottom: 82px; }
    .block-right__text-about_span-about {
      color: #f29257;
      cursor: pointer; }
  .block-right__box-botton-about {
    display: flex;
    justify-content: center; }

.button-about {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #f29257; }
  .button-about:hover {
    background-color: #f29257;
    border: 1px solid #f29257; }
  .button-about a, .button-about .video-table, .button-about .block-right__text-about_span-about, .button-about .portfolio-info__link-portfolio {
    color: #f29257; }
    .button-about a:hover, .button-about .video-table:hover, .button-about .block-right__text-about_span-about:hover, .button-about .portfolio-info__link-portfolio:hover {
      color: #ffffff; }
  .button-about_btn {
    padding: 20px 54px; }

/* ------ media query ------ */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .block-about {
    display: flex;
    justify-content: space-around;
    padding-top: 110px; }

  .block-left {
    padding-top: 36px; }
    .block-left__foto-about {
      width: 400px;
      height: 400px; }

  .block-right {
    width: 50%; }
    .block-right__subtitle-about {
      margin-top: 0;
      margin-bottom: 0; }
    .block-right__text-about {
      padding-top: 32px;
      margin-bottom: 30px; }

  .button-about a, .button-about .video-table, .button-about .block-right__text-about_span-about, .button-about .portfolio-info__link-portfolio {
    font-size: 16px; }
  .button-about_btn {
    padding: 15px 30px; } }
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .block-left {
    display: none; }

  .block-right__subtitle-about {
    margin-top: 0; }
  .block-right__block-left {
    display: block; }
    .block-right__block-left_foto-about {
      width: 350px;
      height: 350px; }
  .block-right__text-about {
    width: 70%;
    padding-top: 32px;
    margin-bottom: 52px; }

  .table-foto-about {
    margin-top: -70px; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .block-about {
    display: flex;
    justify-content: space-around;
    padding-top: 90px; }

  .block-left {
    display: none; }

  .block-right__subtitle-about {
    margin-top: 0; }
  .block-right__block-left {
    display: block; }
    .block-right__block-left_foto-about {
      width: 350px;
      height: 350px; }
  .block-right__text-about {
    width: 70%;
    padding-top: 32px;
    margin-bottom: 36px; }

  .table-foto-about {
    margin-top: -70px; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .block-about {
    display: flex;
    justify-content: space-around;
    padding-top: 110px; }

  .block-left {
    padding-top: 36px; }
    .block-left__foto-about {
      width: 400px;
      height: 400px; }

  .block-right {
    width: 50%; }
    .block-right__subtitle-about {
      margin-top: 0;
      margin-bottom: 0; }
    .block-right__text-about {
      padding-top: 32px;
      margin-bottom: 30px; }

  .button-about a, .button-about .video-table, .button-about .block-right__text-about_span-about, .button-about .portfolio-info__link-portfolio {
    font-size: 16px; }
  .button-about_btn {
    padding: 15px 30px; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .block-about {
    display: flex;
    justify-content: space-around;
    padding-top: 90px; }

  .block-left {
    display: none; }

  .block-right__subtitle-about {
    margin-top: 0; }
  .block-right__block-left {
    display: block; }
    .block-right__block-left_foto-about {
      width: 350px;
      height: 350px; }
  .block-right__text-about {
    width: 70%;
    padding-top: 32px;
    margin-bottom: 36px; }

  .table-foto-about {
    margin-top: -70px; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .block-about {
    display: flex;
    justify-content: space-around;
    padding-top: 90px; }

  .block-left {
    display: none; }

  .block-right__subtitle-about {
    margin-top: 0; }
  .block-right__block-left {
    display: block; }
    .block-right__block-left_foto-about {
      width: 350px;
      height: 350px; }
  .block-right__text-about {
    width: 70%;
    padding-top: 32px;
    margin-bottom: 36px; }

  .table-foto-about {
    margin-top: -70px; } }
@media (min-width: 320px) and (max-width: 575.98px) {
  .block-about {
    display: flex;
    justify-content: space-around;
    padding-top: 90px; }

  .block-left {
    display: none; }

  .block-right__subtitle-about {
    margin-top: 0; }
  .block-right__block-left {
    display: block; }
    .block-right__block-left_foto-about {
      width: 350px;
      height: 350px; }
  .block-right__text-about {
    width: 70%;
    padding-top: 32px;
    margin-bottom: 36px; }

  .table-foto-about {
    margin-top: -70px; } }
/* 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  } 

 */
/* ------------ products --------------- */
section-4 {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  padding-bottom: 300px;
  min-height: 100vh; }

.product {
  display: flex;
  justify-content: center;
  margin-bottom: 90px; }

.product-images {
  display: flex;
  flex-direction: column; }
  .product-images__picture {
    height: 150px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center; }
    .product-images__picture_product-image {
      width: 40%;
      position: absolute;
      margin-top: -80px; }

.characteristic-list {
  display: flex;
  flex-direction: column; }
  .characteristic-list__product-characteristic {
    display: flex;
    margin-bottom: 7px; }

.character {
  display: flex;
  justify-content: flex-end;
  flex-direction: column; }

/* ------ media query ------ */
/* 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  } 

 */
/* ------------ portfolio --------------- */
section-5 {
  display: flex;
  padding-top: 140px;
  min-height: 100vh; }

.block-gallery {
  display: flex;
  flex-direction: column; }

.portfolio-info {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .portfolio-info__topic {
    margin-bottom: 30px; }
  .portfolio-info__text-portfolio {
    width: 50%;
    text-align: center;
    color: #1b255d; }
  .portfolio-info__link-portfolio {
    color: #f29257;
    cursor: pointer; }

.block-gallery-image {
  display: flex; }

.portfolio-left {
  display: flex; }
  .portfolio-left__project-big-foto {
    position: relative;
    overflow: hidden;
    width: 75%;
    height: 550px;
    margin-left: 40px; }
    .portfolio-left__project-big-foto_fotoProject-big {
      margin-top: -130px;
      width: 100%; }

.portfolio-right {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .portfolio-right__projeсts-portfolio {
    margin-bottom: 20px; }
  .portfolio-right__carousel {
    width: 170px;
    height: 520px;
    display: flex;
    overflow: hidden; }
    .portfolio-right__carousel_carousel-block {
      height: 1040px;
      display: flex;
      flex-direction: column; }

#polosa {
  position: relative;
  top: 0;
  transition: all ease 1s; }

.carousel-foto__project {
  position: relative;
  overflow: hidden;
  width: 170px;
  height: 130px; }
  .carousel-foto__project_fotoProject {
    width: 100%;
    margin-top: -65px; }

.arrow-up-down {
  height: 60px; }

.caret {
  position: absolute;
  color: #f29257; }

#slider-top {
  display: flex;
  justify-content: center;
  align-items: center; }

#slider-bottom {
  display: flex;
  justify-content: center;
  align-items: center; }

/* ------ media query ------ */
/* 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  } 

 */
/* ------------ blog --------------- */
section-6 {
  display: none;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  min-height: 100vh; }

.blog-wrap {
  display: flex;
  flex-direction: column; }

.blog-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px; }
  .blog-title__topic-blog {
    margin-top: 64px;
    margin-bottom: 38px; }
  .blog-title__topic-text {
    font-size: 25px;
    width: 40%;
    text-align: center; }

.article {
  display: flex; }

/* ------ media query ------ */
/* 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  } 

 */
/* ------------ footer --------------- */
footer {
  display: flex;
  position: relative;
  background-color: #828893;
  padding-top: 110px;
  min-height: 100vh; }

.footer-block {
  display: flex;
  flex-direction: column; }

.form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0; }
  .form-contact__form-title {
    margin-top: 46px;
    margin-bottom: 44px;
    line-height: 1.1;
    color: #f29257; }
  .form-contact__form-content {
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .form-contact__form-content_form-name {
      outline: none;
      margin-bottom: 24px;
      padding: 10px 0 10px 27px; }
    .form-contact__form-content_form-email {
      outline: none;
      margin-bottom: 24px;
      padding: 10px 0 10px 27px; }
    .form-contact__form-content_form-message {
      outline: none;
      margin-bottom: 42px;
      padding: 10px 0 51px 27px; }
    .form-contact__form-content_form-submit {
      outline: none;
      margin-bottom: 117px;
      padding: 16px 40px;
      background-color: #ffffff;
      border: 1px solid #f29257; }
      .form-contact__form-content_form-submit:hover {
        background-color: #f29257;
        border: 1px solid #f29257; }
      .form-contact__form-content_form-submit a, .form-contact__form-content_form-submit .video-table, .form-contact__form-content_form-submit .block-right__text-about_span-about, .form-contact__form-content_form-submit .portfolio-info__link-portfolio {
        color: #f29257; }
        .form-contact__form-content_form-submit a:hover, .form-contact__form-content_form-submit .video-table:hover, .form-contact__form-content_form-submit .block-right__text-about_span-about:hover, .form-contact__form-content_form-submit .portfolio-info__link-portfolio:hover {
          color: #ffffff; }

.footer-wrap {
  display: flex;
  padding: 0;
  color: #ffffff;
  margin-bottom: 20px; }
  .footer-wrap__menu-footer {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-left: 20px; }
    .footer-wrap__menu-footer_title-menu {
      font-size: 18px; }
    .footer-wrap__menu-footer_vertical-menu {
      padding-left: 0; }
      .footer-wrap__menu-footer_vertical-menu_link-group .video-table, .footer-wrap__menu-footer_vertical-menu_link-group .block-right__text-about_span-about, .footer-wrap__menu-footer_vertical-menu_link-group .portfolio-info__link-portfolio, .footer-wrap__menu-footer_vertical-menu_link-group a {
        font-weight: 400; }
        .footer-wrap__menu-footer_vertical-menu_link-group .video-table:hover, .footer-wrap__menu-footer_vertical-menu_link-group .block-right__text-about_span-about:hover, .footer-wrap__menu-footer_vertical-menu_link-group .portfolio-info__link-portfolio:hover, .footer-wrap__menu-footer_vertical-menu_link-group a:hover {
          border-bottom: none;
          color: #ffffff;
          opacity: 0.5; }
  .footer-wrap__footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; }
    .footer-wrap__footer-contact_topic-contact {
      padding-bottom: 10px; }
    .footer-wrap__footer-contact_footer-email {
      margin-bottom: 38px; }
      .footer-wrap__footer-contact_footer-email .video-table, .footer-wrap__footer-contact_footer-email .block-right__text-about_span-about, .footer-wrap__footer-contact_footer-email .portfolio-info__link-portfolio, .footer-wrap__footer-contact_footer-email a {
        font-weight: 400; }
        .footer-wrap__footer-contact_footer-email .video-table:hover, .footer-wrap__footer-contact_footer-email .block-right__text-about_span-about:hover, .footer-wrap__footer-contact_footer-email .portfolio-info__link-portfolio:hover, .footer-wrap__footer-contact_footer-email a:hover {
          border-bottom: none;
          color: #1b255d;
          opacity: 0.5; }
    .footer-wrap__footer-contact_social-web {
      color: #f29257;
      display: flex; }
      .footer-wrap__footer-contact_social-web_topic-social {
        color: #ffffff;
        margin-bottom: 8px;
        margin-right: 6px; }
  .footer-wrap__logotype-small {
    font-size: 23px;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: flex-start;
    padding-bottom: 39px; }

.fa-instagram {
  color: #f29257; }

.footer-bottom {
  display: flex;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.7; }
  .footer-bottom__footer-copyright {
    display: flex;
    justify-content: center; }

.button-up {
  position: absolute;
  z-index: 3;
  right: 38px;
  bottom: 70px; }

.fa-chevron-circle-up {
  color: #f29257;
  opacity: 0.95; }
  .fa-chevron-circle-up:hover {
    opacity: 0.7;
    cursor: pointer; }

.footer-line {
  position: absolute;
  z-index: 3;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.line1 {
  bottom: 280px; }

.line2 {
  bottom: 70px; }

/* ------ media query ------ */
/* 
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  } 

 */
/* -------- fonts -------- */
/* -------- colors -------- */
/* -------- variables -------- */
/* -------- header -------- */
/* -------- home -------- */
/* -------- video-review -------- */
/* -------- about -------- */
/* -------- products -------- */
/* -------- portfolio -------- */
/* -------- blog -------- */
/* -------- footer -------- */

/*# sourceMappingURL=style.css.map */
