@charset "UTF-8";
@font-face {
  font-family: 'Archivo Narrow', sans-serif;
  src: url("fonts/ArchivoNarrow/ArchivoNarrow-Regular.eot");
  src: url("fonts/ArchivoNarrow/ArchivoNarrow-Regular.eot") format("embedded-opentype"), url("fonts/ArchivoNarrow/ArchivoNarrow-Regular.woff2") format("woff2"), url("fonts/ArchivoNarrow/ArchivoNarrow-Regular.woff") format("woff"), url("fonts/ArchivoNarrow/ArchivoNarrow-Regular.ttf") format("truetype"), url("fonts/ArchivoNarrow/ArchivoNarrow-Regular.svg#PT_SerifWebBold") format("svg");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'Judson', serif;
  src: url("fonts/Judson/Judson-Regular.eot");
  src: url("fonts/Judson/Judson-Regular.eot") format("embedded-opentype"), url("fonts/Judson/Judson-Regular.woff2") format("woff2"), url("fonts/Judson/Judson-Regular.woff") format("woff"), url("fonts/Judson/Judson-Regular.ttf") format("truetype"), url("fonts/Judson/Judson-Regular.svg#PT_SansWebBold") format("svg");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'Nunito Sans', sans-serif;
  src: url("fonts/NunitoSans/NunitoSans-Regular.eot");
  src: url("fonts/NunitoSans/NunitoSans-Regular.eot") format("embedded-opentype"), url("fonts/NunitoSans/NunitoSans-Regular.woff2") format("woff2"), url("fonts/NunitoSans/NunitoSans-Regular.woff") format("woff"), url("fonts/NunitoSans/NunitoSans-Regular.ttf") format("truetype"), url("fonts/NunitoSans/NunitoSans-Regular.svg#PT_SansWebBold") format("svg");
  font-style: normal;
  font-weight: 400; }
/*
<i class="fas fa-chevron-circle-up"></i> 
<i class="fas fa-caret-up"></i>
<i class="fas fa-caret-down"></i>
<i class="fas fa-chevron-down"></i>
<i class="fas fa-chevron-up"></i>
<i class="fas fa-play"></i>
<i class="fas fa-redo-alt"></i>
<i class="fas fa-sort"></i>
<i class="fas fa-sync-alt"></i>
<i class="fas fa-angle-double-down"></i>
<i class="fas fa-angle-down"></i>
<i class="fas fa-angle-left"></i>
<i class="fas fa-angle-right"></i>
<i class="fas fa-angle-up"></i>
<i class="fas fa-arrows-alt-h"></i>
<i class="fas fa-exchange-alt"></i>
<i class="far fa-hand-point-right"></i>
<i class="far fa-hand-point-left"></i>
<i class="fas fa-circle"></i>
<i class="far fa-circle"></i>
<i class="fas fa-pause"></i>
<i class="far fa-play-circle"></i>
<i class="fas fa-play-circle"></i>
<i class="fas fa-video"></i>
<i class="fas fa-expand"></i>
<i class="fas fa-volume-up"></i>
<i class="fas fa-volume-mute"></i>
<i class="fas fa-phone"></i>
<i class="far fa-envelope"></i>
<i class="far fa-clock"></i>
<i class="fas fa-pencil-ruler"></i>
<i class="fas fa-phone-alt"></i>
<i class="fas fa-desktop"></i>
<i class="fas fa-keyboard"></i>
<i class="fas fa-laptop"></i>
<i class="fas fa-mouse"></i>
<i class="fas fa-print"></i>
<i class="fas fa-image"></i>
<i class="fab fa-instagram"></i>
 */
/* ------------ variable --------------- */
body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #566ca5; }

.container {
  /* padding: 0; */ }

a, button a, .button-top a, .button-review a, .button-about a, .form-contact__form-content_form-submit a, .header-big__menu_link-group a, .logotype a, .language__Ru a, .language__En a, .gambyrger-menu__gambyrger-list_link-group a, .about-block-right__text-about_span-about, .portfolio-info__link-portfolio, .footer-wrap__footer-contact_footer-email a, .footer-wrap__menu-footer_vertical-menu_link-group a {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #1b255d;
  /* &:visited {
  	color: $blue-light;
  } */
  /* &:focus {
  		color: $blue-light;
  	} */
  /* &:alink {
  		color: $blue-grey;
  	} */ }
  a:hover, .about-block-right__text-about_span-about:hover, .portfolio-info__link-portfolio:hover {
    text-decoration: none;
    color: #566ca5; }
  a:active, .about-block-right__text-about_span-about:active, .portfolio-info__link-portfolio:active {
    color: #566ca5; }

ul, .header-big__menu, .gambyrger-menu__gambyrger-list, .footer-wrap__menu-footer_vertical-menu {
  list-style: none; }

h1, .topic-main {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 48px;
  font-weight: #fafafd;
  color: #ffffff;
  line-height: 1.2;
  margin-bottom: 0; }

h2, .topic-title, .title-review, .subtitle-review, .title-about, .subtitle-about, .product__product-title, .portfolio-info__topic, .myBlog-title__topic-blog, .form-contact__form-title {
  font-family: 'Judson', serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.1;
  color: #431c43; }

h3, .topic-text {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 24px;
  font-weight: #fafafd;
  color: #ffffff; }

button, .button-top, .button-review, .button-about, .form-contact__form-content_form-submit {
  background-color: #f29257;
  border-width: 0;
  border-radius: 4px; }
  button:hover, .button-top:hover, .button-review:hover, .button-about:hover, .form-contact__form-content_form-submit:hover {
    background-color: #ffd0b3;
    transition: 1s; }
  button a, .button-top a, .button-review a, .button-about a, .form-contact__form-content_form-submit a, button .header-big__menu_link-group a, .header-big__menu_link-group button a, button .logotype a, .logotype button a, button .language__Ru a, .language__Ru button a, button .language__En a, .language__En button a, button .gambyrger-menu__gambyrger-list_link-group a, .gambyrger-menu__gambyrger-list_link-group button a, button .about-block-right__text-about_span-about, .button-top .about-block-right__text-about_span-about, .button-review .about-block-right__text-about_span-about, .button-about .about-block-right__text-about_span-about, .form-contact__form-content_form-submit .about-block-right__text-about_span-about, button .portfolio-info__link-portfolio, .button-top .portfolio-info__link-portfolio, .button-review .portfolio-info__link-portfolio, .button-about .portfolio-info__link-portfolio, .form-contact__form-content_form-submit .portfolio-info__link-portfolio, button .footer-wrap__footer-contact_footer-email a, .footer-wrap__footer-contact_footer-email button a, button .footer-wrap__menu-footer_vertical-menu_link-group a, .footer-wrap__menu-footer_vertical-menu_link-group button a {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #1b255d; }
    button a:hover, .button-top a:hover, .button-review a:hover, .button-about a:hover, .form-contact__form-content_form-submit a:hover, button .about-block-right__text-about_span-about:hover, .button-top .about-block-right__text-about_span-about:hover, .button-review .about-block-right__text-about_span-about:hover, .button-about .about-block-right__text-about_span-about:hover, .form-contact__form-content_form-submit .about-block-right__text-about_span-about:hover, button .portfolio-info__link-portfolio:hover, .button-top .portfolio-info__link-portfolio:hover, .button-review .portfolio-info__link-portfolio:hover, .button-about .portfolio-info__link-portfolio:hover, .form-contact__form-content_form-submit .portfolio-info__link-portfolio:hover {
      color: #566ca5;
      transition: 1s; }

.fon {
  background-color: #ebebf4;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%; }

input {
  width: 100%;
  border: 1px solid #ffffff;
  background-color: #828893;
  caret-color: #ffffff;
  color: #ffffff; }

input::placeholder {
  display: flex;
  justify-content: start;
  color: #f29257;
  opacity: 0.5;
  margin-left: 27px; }

/* .social-web {	
    display: flex;
    justify-content: space-between;
} */
/* ------------ header --------------- */
header {
  position: fixed;
  z-index: 101;
  width: 100%;
  background: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.95; }

.header-wrap {
  display: flex;
  flex-direction: column;
  padding: 0; }

.header-top {
  display: flex;
  align-items: center;
  padding: 0;
  padding-top: 16px;
  justify-content: space-between;
  /* &__logotype {
  	display: flex;
      	justify-content: center;						
  	a {
  		@extend a;
  	    text-align: center;
  		font-size: 14px;			
  	}				
  } */
  /* &__language{
  	display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 14px;
  	&_Ru {
  		a {
  			@extend a;
  						
  		}
  	}
  	&_En {
  		display: none;
  		a {
  			
  			@extend a;
  						
  		}
  	}
  } */ }

.header-big__menu {
  width: 49%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-bottom: 6px;
  padding: 12px 0 0 0; }
  .header-big__menu_link-group a, .header-big__menu_link-group .about-block-right__text-about_span-about, .header-big__menu_link-group .portfolio-info__link-portfolio {
    padding: 0px 4px 5px 4px; }

/* .link-active {
	color: blue;
} */
.link-active.active {
  color: #566ca5; }

.logotype {
  display: flex;
  justify-content: center; }
  .logotype a, .logotype .about-block-right__text-about_span-about, .logotype .portfolio-info__link-portfolio {
    text-align: center;
    font-size: 14px; }

.header-phone {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.language {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px; }
  .language__Ru {
    color: #cb3d00; }
  .language__En {
    color: #cb3d00;
    display: none; }

/* for border in menu */
.selected {
  border-bottom: 1px solid #cb3d00; }
  .selected a, .selected .about-block-right__text-about_span-about, .selected .portfolio-info__link-portfolio {
    border-bottom: 1px solid #ff9571; }

/* byrger-menu start*/
.byrger {
  display: flex;
  align-items: center; }

.byrger-menu {
  display: flex;
  text-align: right;
  padding-top: 9px; }
  .byrger-menu__byrger-icon {
    /* visibility: hidden; */
    display: none;
    width: 24px;
    height: 25px;
    position: relative;
    cursor: pointer; }
    .byrger-menu__byrger-icon_line {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: #312a31;
      border-radius: 6px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out; }

.line-1 {
  top: 0px; }

.line-3, .line-2 {
  top: 7px; }

.line-4 {
  top: 14px; }

/* byrger-menu finish*/
/* gambyrger-menu start*/
.gambyrger {
  display: flex;
  flex-direction: column; }

.gambyrger-menu {
  display: flex;
  justify-content: flex-end; }
  .gambyrger-menu__gambyrger-list {
    display: none;
    height: 100vh;
    padding-left: 0; }
    .gambyrger-menu__gambyrger-list_link-group a, .gambyrger-menu__gambyrger-list_link-group .about-block-right__text-about_span-about, .gambyrger-menu__gambyrger-list_link-group .portfolio-info__link-portfolio {
      padding: 0px 4px;
      color: #ebebf4; }
      .gambyrger-menu__gambyrger-list_link-group a:hover, .gambyrger-menu__gambyrger-list_link-group .about-block-right__text-about_span-about:hover, .gambyrger-menu__gambyrger-list_link-group .portfolio-info__link-portfolio:hover {
        border-bottom: 2px solid #ff9571;
        color: #8e86ac; }

.popap {
  padding-top: 20px; }

.pop {
  margin-bottom: 7px; }

.byrger-menu.byrger-menu_state_open .byrger-menu__byrger-icon .line-1 {
  top: 18px;
  width: 0%;
  left: 50%; }

.byrger-menu.byrger-menu_state_open .byrger-menu__byrger-icon .line-2 {
  transform: rotate(45deg); }

.byrger-menu.byrger-menu_state_open .byrger-menu__byrger-icon .line-3 {
  transform: rotate(-45deg); }

.byrger-menu.byrger-menu_state_open .byrger-menu__byrger-icon .line-4 {
  top: 18px;
  width: 0%;
  left: 50%; }

.byrger-menu.byrger-menu_state_open .gambyrger-menu {
  display: block; }

/* gambyrger-menu finish*/
/* ------ media query ------ */
section-1 {
  background: url("../images/Home-photo4.png") no-repeat top fixed;
  display: flex;
  flex-direction: column;
  padding-top: 122px;
  background-size: cover; }

.home-wrap {
  width: 100%;
  min-height: 92vh;
  display: flex;
  flex-direction: column; }

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0; }

.topic-main {
  padding-top: 9px; }

.topic-title {
  color: #ffffff;
  padding-top: 23px; }

.topic-text {
  padding-top: 23px;
  margin-bottom: 36px;
  font-size: 32px; }

.block-topic {
  text-align: center; }

.blok-button {
  display: flex;
  flex-direction: column; }

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 52%; }

.button-home {
  margin-top: 50px; }

.button-top {
  display: flex;
  background-color: #ffffff; }
  .button-top:hover {
    background-color: #f29257; }
  .button-top a, .button-top .about-block-right__text-about_span-about, .button-top .portfolio-info__link-portfolio {
    font-family: 'Nunito Sans', sans-serif;
    text-transform: none;
    color: #f29257; }
    .button-top a:hover, .button-top .about-block-right__text-about_span-about:hover, .button-top .portfolio-info__link-portfolio:hover {
      color: #ffffff; }
  .button-top__btn {
    padding: 20px 50px; }

.scroll-arrow {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 450px; }
  .scroll-arrow__scroll-link {
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
    /* &_link-circle {
    				position: absolute;
        			width: 6%;
        			z-index: 1;
    } */ }
    .scroll-arrow__scroll-link_link-arrow {
      width: 80%;
      z-index: 1;
      margin-top: 4px; }

.fa-circle {
  color: #ffffff;
  position: absolute;
  opacity: 0.5;
  z-index: 1; }

#scroll-home {
  display: flex; }

/* ------------ video-review --------------- */
section-2 {
  /* background: url('../images/skills-bg.png') no-repeat bottom; */
  display: flex;
  flex-direction: column;
  position: relative; }

/* .fon-about {
	@extend .fon;
    width: 35%;        
    left: 0;
    height: 100%;
    top: 0;    
} */
.review-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px; }

.title-review {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 100px; }

.subtitle-review {
  display: flex;
  justify-content: center;
  font-size: 26px;
  margin-bottom: 38px; }

.video-portfolio {
  display: flex;
  justify-content: center; }

.video-table {
  width: 51%; }

.go-portfolio {
  display: flex;
  justify-content: center; }

.button-review {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 15px;
  background-color: #f29257;
  border: 1px solid #f29257; }
  .button-review:hover {
    background-color: #ffffff;
    border: 1px solid #f29257; }
  .button-review a, .button-review .about-block-right__text-about_span-about, .button-review .portfolio-info__link-portfolio {
    color: #ffffff; }
    .button-review a:hover, .button-review .about-block-right__text-about_span-about:hover, .button-review .portfolio-info__link-portfolio:hover {
      color: #f29257; }
  .button-review__btn {
    padding: 20px 54px; }

/* ------ media query ------ */
/* ------------ about --------------- */
section-3 {
  /* background: url('../images/skills-bg.png') no-repeat bottom; */
  display: flex;
  flex-direction: column;
  background-color: #828893;
  padding-bottom: 166px;
  padding-top: 178px; }

.about-wrap {
  display: flex;
  flex-direction: column;
  align-items: center; }

.title-about {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 25px;
  color: #f29257; }

.subtitle-about {
  display: flex;
  justify-content: center;
  font-size: 26px;
  color: #ffffff;
  margin-bottom: 38px;
  margin-top: 50px; }

.go-portfolio {
  display: flex;
  justify-content: center; }

.button-about {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #f29257; }
  .button-about:hover {
    background-color: #f29257;
    border: 1px solid #f29257; }
  .button-about a, .button-about .about-block-right__text-about_span-about, .button-about .portfolio-info__link-portfolio {
    color: #f29257; }
    .button-about a:hover, .button-about .about-block-right__text-about_span-about:hover, .button-about .portfolio-info__link-portfolio:hover {
      color: #ffffff; }
  .button-about_btn {
    padding: 20px 54px; }

.about-block-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 112px; }
  .about-block-right__text-about {
    text-align: justify;
    color: #ffffff;
    padding-left: 40px;
    margin-bottom: 107px; }
    .about-block-right__text-about_span-about {
      color: #f29257;
      cursor: pointer; }

.block-left__foto-about {
  position: relative;
  overflow: hidden;
  width: 550px;
  height: 550px;
  border-radius: 50%; }

.table-foto-about {
  width: 100%;
  margin-top: -100px; }

/* .about-block-left {
	display: flex;
    justify-content: flex-start;	
	padding: 0;
	margin-top: 120px;
	@media (min-width: 992px) and (max-width: 1059.98px) {
    	justify-content: center;
	}	
	&__foto-portfolio {
	    width: 68%;
	    position: relative;
	    overflow: hidden;
	    display: flex;
	    justify-content: center;
	    &_fotoMaket {
    	    min-width: 100%;
		    min-height: 100%;
		    position: absolute;
		    display: flex;
	    }
	}
} */
/* 

	&__subtitle-about {
		display: flex;
    	justify-content: center;
		@extend h2;
		font-size: 26px;
		margin-bottom: 38px;
	}
	&__block-foto {
	    width: 100%;
		display: flex;
        justify-content: space-between;
        &_topic-about {
	    	display: flex;
	    	flex-direction: column;
	    	align-items: center;
        }		
	}
	&__button-about {
	    margin-top: -42px;
		display: flex;
    	justify-content: center;
    	@extend button;		
		background-color: $purpur;
		border: 1px solid $purpur;
		&:hover {
			background-color: $white;
			border: 1px solid $purpur;
		}
		a {
			color: $white;
			&:hover {
				color: $purpur-pink;
			}
		}
		&_btn {
			padding: 20px 54px;
						
		}
	}
} */
/* .topic {
	display: flex;
    justify-content: center;
	font-weight: $bold;
	color: $purpur-grey;		
	text-transform: uppercase;
    padding-top: 22px;
    padding-bottom: 10px;    
} */
/* .fotos {
    display: flex;
	overflow: hidden;
    width: 100%;
    height: 54%;
    border: 2px solid $purpur-grey;   
}
 */
/* .bl {
	background: url('../images/skills-bg.png') no-repeat;
	display: flex;
	width: 100%;
	height: auto;
	background-size: cover;
} */
/* .block-bottom {	
	display: flex;
	flex-direction: column;
	padding: 0;
	&__topic-skills {
	    display: flex;
	    justify-content: center;
	    padding-top: 56px;
	    margin-bottom: 52px;
		@extend h2;
		color: $white;
		font-size: 60px;
	}
	&__skills {
		display: flex;
	    justify-content: space-between;
	    padding-bottom: 72px;
		font: {
			family: 'Archivo Narrow', sans-serif;
			size: 34px;
			weight: $regular;
		}		
		color: $white;
	}
} */
/* ------ media query ------ */
/* ------------ products --------------- */
section-4 {
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  margin-bottom: 300px; }

.product {
  display: flex;
  justify-content: center;
  margin-bottom: 90px; }

.product-images {
  display: flex;
  flex-direction: column; }
  .product-images__picture1 {
    height: 150px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center; }
  .product-images__picture2 {
    height: 150px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center; }

.product-image {
  width: 40%;
  position: absolute;
  margin-top: -80px; }

.product-characteristic {
  display: flex;
  margin-bottom: 7px; }

.character {
  display: flex;
  justify-content: flex-end;
  flex-direction: column; }

/* ------------ portfolio --------------- */
section-5 {
  display: flex;
  flex-direction: column;
  padding-top: 140px;
  margin-bottom: 20px; }

.portfolio-info {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .portfolio-info__topic {
    margin-bottom: 30px; }
  .portfolio-info__text-portfolio {
    width: 50%;
    text-align: center;
    color: #1b255d; }
  .portfolio-info__link-portfolio {
    color: #f29257;
    cursor: pointer; }

.portfolio-right {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .portfolio-right__projeсts-portfolio {
    margin-bottom: 20px; }
  .portfolio-right__carousel {
    width: 170px;
    height: 520px;
    display: flex;
    overflow: hidden; }
    .portfolio-right__carousel_carousel-block {
      height: 1040px;
      display: flex;
      flex-direction: column; }

#polosa {
  position: relative;
  top: 0;
  transition: all ease 1s; }

.project-big-foto {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 700px; }

.project {
  position: relative;
  overflow: hidden;
  width: 170px;
  height: 130px; }

.fotoProject-big-fixed {
  margin-top: -265px;
  width: 100%; }

.fotoProject-big {
  margin-top: -265px;
  width: 100%; }

.fotoProject {
  width: 100%;
  margin-top: -65px; }

.caret {
  position: absolute;
  color: #f29257; }

#slider-top {
  display: flex;
  justify-content: center;
  align-items: center; }

#slider-bottom {
  display: flex;
  justify-content: center;
  align-items: center; }

/* ------ media query ------ */
/* ------------ blog --------------- */
section-6 {
  display: none;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px; }

.myBlog-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px; }
  .myBlog-title__topic-blog {
    margin-top: 64px;
    margin-bottom: 38px; }
  .myBlog-title__topic-text {
    font-size: 25px;
    width: 40%;
    text-align: center; }

.myBlog-wrap {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  padding-right: 0; }

/* ------------ footer --------------- */
footer {
  display: flex;
  position: relative;
  background-color: #828893; }

.form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0; }
  .form-contact__form-title {
    margin-top: 46px;
    margin-bottom: 44px;
    line-height: 1.1;
    color: #f29257; }
  .form-contact__form-content {
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .form-contact__form-content_form-name {
      margin-bottom: 24px;
      padding: 10px 0 10px 27px; }
    .form-contact__form-content_form-email {
      margin-bottom: 24px;
      padding: 10px 0 10px 27px; }
    .form-contact__form-content_form-message {
      margin-bottom: 42px;
      padding: 10px 0 51px 27px; }
    .form-contact__form-content_form-submit {
      margin-bottom: 117px;
      padding: 16px 40px;
      background-color: #ffffff;
      border: 1px solid #f29257; }
      .form-contact__form-content_form-submit:hover {
        background-color: #f29257;
        border: 1px solid #f29257; }
      .form-contact__form-content_form-submit a, .form-contact__form-content_form-submit .about-block-right__text-about_span-about, .form-contact__form-content_form-submit .portfolio-info__link-portfolio {
        color: #f29257; }
        .form-contact__form-content_form-submit a:hover, .form-contact__form-content_form-submit .about-block-right__text-about_span-about:hover, .form-contact__form-content_form-submit .portfolio-info__link-portfolio:hover {
          color: #ffffff; }

.button-up {
  position: absolute;
  z-index: 3;
  right: 221px;
  top: 465px; }

.fa-chevron-circle-up {
  color: #f29257;
  opacity: 0.95; }
  .fa-chevron-circle-up:hover {
    opacity: 0.7;
    cursor: pointer; }

.footer-wrap {
  display: flex;
  padding: 0;
  color: #ffffff;
  margin-bottom: 20px; }
  .footer-wrap__footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; }
    .footer-wrap__footer-contact_topic-contact {
      padding-bottom: 10px; }
    .footer-wrap__footer-contact_footer-email {
      margin-bottom: 38px; }
      .footer-wrap__footer-contact_footer-email .about-block-right__text-about_span-about, .footer-wrap__footer-contact_footer-email .portfolio-info__link-portfolio, .footer-wrap__footer-contact_footer-email a {
        font-weight: 400; }
        .footer-wrap__footer-contact_footer-email .about-block-right__text-about_span-about:hover, .footer-wrap__footer-contact_footer-email .portfolio-info__link-portfolio:hover, .footer-wrap__footer-contact_footer-email a:hover {
          border-bottom: none;
          color: #1b255d;
          opacity: 0.5; }
    .footer-wrap__footer-contact_social-web {
      color: #f29257;
      display: flex; }
      .footer-wrap__footer-contact_social-web_topic-social {
        color: #ffffff;
        margin-bottom: 8px;
        margin-right: 6px; }
  .footer-wrap__menu-footer {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-left: 20px; }
    .footer-wrap__menu-footer_title-menu {
      font-size: 18px; }
    .footer-wrap__menu-footer_vertical-menu {
      padding-left: 0; }
      .footer-wrap__menu-footer_vertical-menu_link-group .about-block-right__text-about_span-about, .footer-wrap__menu-footer_vertical-menu_link-group .portfolio-info__link-portfolio, .footer-wrap__menu-footer_vertical-menu_link-group a {
        font-weight: 400; }
        .footer-wrap__menu-footer_vertical-menu_link-group .about-block-right__text-about_span-about:hover, .footer-wrap__menu-footer_vertical-menu_link-group .portfolio-info__link-portfolio:hover, .footer-wrap__menu-footer_vertical-menu_link-group a:hover {
          border-bottom: none;
          color: #ffffff;
          opacity: 0.5; }
  .footer-wrap__logotype-small {
    font-size: 23px;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
    padding-bottom: 39px; }

.fa-instagram {
  color: #f29257; }

.footer-bottom {
  display: flex;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 45px; }
  .footer-bottom__footer-copyright {
    display: flex;
    justify-content: center; }

/* .button-up {
    position: absolute;
    z-index: 3;
    right: 221px;
    top: 466px;
	&__circle-wrap {
		
		&_circle-box {
			width: 50px;
		    background-color: $white;
		    height: 50px;
		    border-radius: 25px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    @extend button;
		    &:hover {
			    background-color: $yellow;
			    cursor: pointer;
		    }	    	    
		}
	}
}

.circle {
	    line-height: 0.7;
} */
.line1-footer {
  position: absolute;
  z-index: 3;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  bottom: 280px; }

.line2-footer {
  position: absolute;
  z-index: 4;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  bottom: 70px; }

/* ------ media query ------ */
/* -------- fonts -------- */
/* -------- colors -------- */
/* -------- variables -------- */
/* -------- header -------- */
/* -------- home -------- */
/* -------- video-review -------- */
/* -------- about -------- */
/* -------- products -------- */
/* -------- portfolio -------- */
/* -------- blog -------- */
/* -------- footer -------- */

/*# sourceMappingURL=style.css.map */
